html,body{height:100%}
body {
	font-size:12px;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background-image:url(../img/bkg_login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
body td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
a {
	color:#990000;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

div#ushahidi_login_logo {text-align:center; padding:50px 0 20px 0;}
div#ushahidi_login_logo img { width:400px; height:80px;  }
div#framework_error { background:#fff; font-family:sans-serif; color:#111; font-size:14px; line-height:130%;border:3px solid #ccc;text-align:left;padding: 20px; }
div#framework_error h3 { color:#fff; font-size:16px; padding:8px 6px; margin:0 0 8px; background:#666; text-align:center; }
div#framework_error a { color:#228; text-decoration:none; }
div#framework_error a:hover { text-decoration:underline; }
div#framework_error strong { color:#900; }
div#framework_error p { margin:0; padding:4px 6px 10px; }
div#framework_error tt,
div#framework_error pre,
div#framework_error code { font-family:monospace; padding:2px 4px; font-size:12px; color:#333;
	white-space:pre-wrap; /* CSS 2.1 */
	white-space:-moz-pre-wrap; /* For Mozilla */
	word-wrap:break-word; /* For IE5.5+ */
}
div#framework_error tt { font-style:italic; }
div#framework_error tt:before { content:">"; color:#aaa; }
div#framework_error code tt:before { content:""; }
div#framework_error pre,
div#framework_error code { background:#eaeee5; border:solid 0 #D6D8D1; border-width:0 1px 1px 0; }
div#framework_error .block { display:block; text-align:left; }
div#framework_error .ushahidi_bugs { text-align:center; font-size:13px; font-weight:bold; }
div#framework_error div#bug_form { display:none; padding:20px; font-size:80%; }
div#framework_error div#bug_form .bug_form_desc { font-size:12px;}
div#framework_error .stats { padding:4px; background: #eee; border-top:solid 1px #ccc; text-align:center; font-size:10px; color:#888; }
div#framework_error .backtrace { margin:0; padding:0 6px; list-style:none; line-height:12px; }

/* form */
form {
	margin:0;
	padding:0;
}
.label{
	font-weight:bold;
	color:#333;
	text-align:right;
}
label.error{
	font-weight:normal;
	color:red;
	text-align:left;
	display:block;
}
.text,
.textarea,
.select,
.file{
	color:#990000;
	font-size:120%;
	font-weight:bold;
}
.text:focus,
.textarea:focus,
.select:focus,
.file:focus{
	background-color:#ffffcc;
}
.text {
	padding:3px 7px 3px 7px;
	border:1px #ccc solid;
}
.textarea {
	padding:7px 7px 3px 7px;
	border:1px #ccc solid;
	font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}
.select{
	overflow:hidden;
}
.long{
	width:90%;
}
.long2{
	width:80%;
	float:left;
	margin-bottom:10px;
}
.short{
	width:100px;
}
.environ{
	font-size:12px;
	font-weight:normal;
	color:#333;
	background-color:#eee;
}
.environ:focus{
	background-color:#eee;
}
.action_btn {
	margin-top:5px;
	font-size:17px;
	font-weight:bold;
	color:#FFFFFF;
	height:40px;
	background-color:#666666;
	border-top-color:#999999;
	border-bottom-color:#333333;
	border-left-color:#999999;
	border-right-color:#333333;
	border-width:3px;
	width: 190px;
}
/* error/success */
.green-box {
	margin:10px 0 10px 0;
	padding:9px 0 8px;
	background:#d8f1d8;
	border:2px solid #a7d1a7;
	clear:both;
	overflow:hidden;
}
.red-box {
	margin:10px 0 10px 0;
	padding:9px 0 8px;
	background:#FFD8D9;
	border:2px solid #990000;
	clear:both;
	overflow:hidden;
}
.green-box h3, .red-box h3{
	margin:0;
	padding:0 0 0 15px; 
	font-size:14px;
	color:#555;
}

/********* 404 ERROR PAGE *********/
#error {
	width:500px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-200px auto auto -250px;
	border:3px dotted #666;
	text-align:left;
	padding: 20px;
	background-color: #FFFFCC;
	background-image:url(../img/icon_alert_big.gif);
	background-position:20px 20px;
	background-repeat:no-repeat;
}
#error h1{
	height:120px;
	margin:50px 0 0 100px;
	font-size:30px;
	font-weight:bold;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	line-height:32px;
	padding-left:30px;
}
/********* /404 ERROR PAGE *********/