/* ---- Header Nav Bar ---- */

header {
	height:30px;
	background-color: #51c1d3;
	border-bottom: 1px solid #FFF9B1;
	color:#FFFFFF;
	padding:0;
	margin:0;
	width:100%;
	
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	box-shadow: 1px 1px 1px #CCC;
}

header a {
	color:#FFFFFF !important;
	text-decoration:none;
	display:inline-block;
	height:30px;
	padding: 0px 10px 0px 10px;
}

header a:hover {
	background-color:#EEE;
	color:#000000 !important;
	text-decoration:none;
}

header ul#header_nav_left a:hover {
	background-color:transparent;
	color:#FFFFFF !important;
}

header img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
}

header img {
	border: 0;
	vertical-align:middle;
	margin:0;
}

header ul#header_nav_left {
	padding:0 100px;
	margin:0;
}

header ul#header_nav_left li {
	list-style-type: none;
	display: inline;
}

header ul#header_nav_right {
	padding:0 100px;
	margin:0;
}

header ul#header_nav_right li {
	list-style-type: none;
}

header nav li.header_nav_user a {
	padding: 4px 5px 0 5px;
	height: 26px;
	display: block;
}

header nav li.header_nav_has_dropdown a span.header_nav_icon {
	float: right;
	width: 14px;
	height: 14px;
	background-position: center -24px;
	margin: 11px 5px 0;
}

header nav li ul.header_nav_dropdown {
	display: inline-block;
	position:absolute;
	z-index: 10;
	right: 100px;
	text-align: left;
	border: 1px solid #FFFFFF;
	border-top: 0px;
	background: #999;
	padding: 5px 0;
	float:right;
	top:30px;
	
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	box-shadow: 1px 1px 1px #CCC;
}

header .header_nav_user {
	float:right;
	clear:right;
}

hgroup h1 {
	font-size:100%;
	font-weight:normal
	margin:0;
	padding:0;
}

header .left_bar, header .right_bar {
	float: left;
	height: 30px;
	background-color:red;
}

header .center {
	float: left;
	margin: 0;
}

header hgroup {
	float: left;
	height: 30px;
	margin:0;
	padding:0;
}

header .logo {
	vertical-align:middle;
}

header .logo a {
	display: block;
	width: 25px;
	height: 25px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	padding-right: 5px;
	margin: 0px 15px;
}

header .logo a:hover {
	opacity: 0.7;
	background-color: transparent;
}

header .nodisplay, .label {
	display: none;
}

header label {
	display: block;
	font-weight: bold;
	padding: 5px 0px 0px 15px;
}

header input {
	display: block;
	margin: 0px 15px;
}

header input.header_nav_login_btn {
	margin-top: 8px;
}

header .bignext {
	font-size:20px;
}

body {
	margin:0;
	padding:0;
}

form#header_nav_userforgot_form {
	display:none;
}
/*retailer styling from bryo*/
.topbar.top, .bar.top {
  -webkit-box-shadow:rgba(0, 0, 0, 0.195313) 0 1px 3px;
  border-bottom-color:#00A3D3;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#FFF9B1;
  border-top-style:solid;
  border-top-width:3px;
  box-shadow:rgba(0, 0, 0, 0.195313) 0 1px 3px;
  left:0;
  position:fixed;
  right:0;
  top:0;
  z-index:500;
  height:30px;
}
style.css
.topbar, .bar {
  overflow:visible;
}
.topbar, .bar {
	overflow:visible;
}

.topbar .topbar-inner, .topbar .fill, .topbar .inner, .bar .topbar-inner, .bar .fill, .bar .inner {
	background-color:#00A3D3;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#51C1D3), to(#00A3D3));
	background-image:-moz-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:-ms-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #51C1D3), color-stop(100%, #00A3D3));
	background-image:-webkit-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:-o-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:linear-gradient(top, #51C1D3, #00A3D3);
}

.topbar.top, .bar.top {
	border-top:3px solid #FFF9B1;
	border-bottom:1px solid #00A3D3;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.199);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.199);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.199);
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:500;
}

.topbar.top .inner, .bar.top .inner {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar.bottom, .bar.bottom {
	-webkit-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 -1px 3px rgba(0, 0, 0, 0.1);
	border-top:1px solid #00A3D3;
}

.topbar a, .bar a {
	color:#f2f2f2;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar ul li.active a, .bar ul li.active a {
	background-color:#333;
	background-color:rgba(255, 255, 255, 0.05);
	color:white;
	text-decoration:none;
	border-right:1px solid #222;
	border-left:1px solid #222;
}

.topbar h1, .topbar h3, .bar h1, .bar h3 {
	position:relative;
}

.topbar h1 a, .topbar h3 a, .bar h1 a, .bar h3 a {
	float:left;
	display:block;
	color:#f2f2f2;
	font-size:24px;
	line-height:43px;
	margin-right:20px;
	margin-left:20px;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.85);
}

.topbar h1 a span, .topbar h3 a span, .bar h1 a span, .bar h3 a span {
	font-weight:500;
	color:#e6e6e6;
}

.topbar nav.small.right a, .bar nav.small.right a {
	float:right;
	padding-left:2em;
}

.topbar nav.small a, .bar nav.small a {
	line-height:40px;
	font-size:11px;
	display:block;
	float:left;
	padding-right:2em;
}

.topbar form, .bar form {
	float:left;
	margin:5px 0 0 0;
	position:relative;
	filter:alpha(opacity=100);
	-khtml-opacity:1;
	-moz-opacity:1;
	opacity:1;
}

.topbar form input, .bar form input {
	font-family:"Lucida Grande", "Segoe UI", Arial, Verdana, sans-serif;
	font-size:normal;
	font-weight:13px;
	line-height:1;
	width:220px;
	padding:3px 5px 2px;
	margin-top:3px;
	background-color:#444;
	background-color:rgba(255, 255, 255, 0.2);
	color:#fff;
	color:rgba(255, 255, 255, 0.75);
	border:1px solid #111;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}

.topbar form input:-moz-placeholder, .bar form input:-moz-placeholder {
	color:#bfbfbf;
}

.topbar form input::-webkit-input-placeholder, .bar form input::-webkit-input-placeholder {
	color:#bfbfbf;
}

.topbar form input:hover, .bar form input:hover {
	color:#fff;
	padding:3px 9px 2px;
	margin-top:3px;
}

.topbar form input:focus, .topbar form input.focused, .bar form input:focus, .bar form input.focused {
	outline:0;
	padding:3px 5px 2px;
	margin-top:3px;
	background-color:rgba(255, 255, 255, 0.35);
	text-shadow:0 1px 0 #111;
	border-color:#111;
	color:#f2f2f2;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
}

.topbar>ul.nav li, .bar>ul.nav li {
	border-right:1px solid #676767;
}

.topbar ul.nav, .bar ul.nav {
	display:block;
	float:left;
	margin:0 10px 0 0;
	position:relative;
}

.topbar ul.nav.secondary-nav, .bar ul.nav.secondary-nav {
	float:right;
	margin-left:10px;
	margin-right:-1px;
}

.topbar ul.nav li, .bar ul.nav li {
	display:block;
	float:left;
	font-size:13px;
}

.topbar ul.nav li a, .bar ul.nav li a {
	display:block;
	float:none;
	padding:13px 20px 11px;
	line-height:19px;
	text-decoration:none;
}

.topbar ul.nav li a:hover, .bar ul.nav li a:hover {
	color:white;
	text-decoration:none;
}

.topbar ul.nav li.active a, .bar ul.nav li.active a {
	background-color:#222;
	-webkit-box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.7), inset 1px 0 30pxpx rgba(0, 0, 0, 0.7);
	-moz-box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.7), inset 1px 0 30pxpx rgba(0, 0, 0, 0.7);
	box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.7), inset 1px 0 30pxpx rgba(0, 0, 0, 0.7);
}

.topbar ul.nav>li.active, .bar ul.nav>li.active {
	border-top:5px solid #b1e4fc;
	margin-top:-5px;
}

.topbar ul.nav>li:hover, .bar ul.nav>li:hover {
	border-top:5px solid #b1e4fc;
	margin-top:-5px;
}

.topbar ul.nav.primary-nav li ul, .bar ul.nav.primary-nav li ul {
	left:0;
}

.topbar ul.nav.secondary-nav li ul, .bar ul.nav.secondary-nav li ul {
	right:0;
}

.topbar ul.nav li.dropdown, .bar ul.nav li.dropdown {
	position:relative;
}

.topbar ul.nav li.dropdown a.dropdown-toggle:after, .bar ul.nav li.dropdown a.dropdown-toggle:after {
	width:0;
	height:0;
	display:inline-block;
	content:"&darr;
	";
	text-indent:-99999px;
	vertical-align:top;
	margin-top:8px;
	margin-left:4px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid white;
	filter:alpha(opacity=50);
	-khtml-opacity:.5;
	-moz-opacity:.5;
	opacity:.5;
}

.topbar ul.nav li.dropdown.open, .bar ul.nav li.dropdown.open {
	background-color:#222;
}

.topbar ul.nav li.dropdown.open a.menu, .topbar ul.nav li.dropdown.open a:hover, .bar ul.nav li.dropdown.open a.menu, .bar ul.nav li.dropdown.open a:hover {
	background-color:#444;
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#444;
	color:white;
}

.topbar ul.nav li.dropdown.open ul, .bar ul.nav li.dropdown.open ul {
	display:block;
}

.topbar ul.nav li.dropdown.open ul li a, .bar ul.nav li.dropdown.open ul li a {
	background-color:transparent;
	font-weight:normal;
}

.topbar ul.nav li.dropdown.open ul li a:hover, .bar ul.nav li.dropdown.open ul li a:hover {
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#333;
	color:white;
}

.topbar ul.nav li.dropdown.open ul li.active a, .bar ul.nav li.dropdown.open ul li.active a {
	background-color:rgba(255, 255, 255, 0.1);
	font-weight:bold;
}

.topbar ul.nav li ul, .bar ul.nav li ul {
	background-color:#222;
	display:none;
	position:absolute;
	top:43px;
	width:100%;
	min-width:150px;
	margin:0;
	padding:0;
	zoom:1;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
}

.topbar ul.nav li ul li, .bar ul.nav li ul li {
	float:none;
	clear:both;
	display:block;
	background:0;
	font-size:12px;
	border:0;
	border-bottom:1px solid #676767;
}

.topbar ul.nav li ul li:last-of-type, .bar ul.nav li ul li:last-of-type {
	border-bottom:0;
}

.topbar ul.nav li ul li a, .bar ul.nav li ul li a {
	display:block;
	padding:12px 20px;
	clear:both;
	font-weight:normal;
	line-height:19px;
	color:#f2f2f2;
}

.topbar ul.nav li ul li a:hover, .bar ul.nav li ul li a:hover {
	background-color:#333;
	background-color:rgba(255, 255, 255, 0.25);
	color:white;
}

.topbar ul.nav li ul li.divider, .bar ul.nav li ul li.divider {
	height:1px;
	overflow:hidden;
	background:#444;
	background:rgba(0, 0, 0, 0.1);
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
	margin:10px 0;
}

.topbar ul.nav li ul li span, .bar ul.nav li ul li span {
	clear:both;
	display:block;
	background:rgba(0, 0, 0, 0.2);
	padding:6px 15px;
	cursor:default;
	color:#777;
	border-top:1px solid rgba(0, 0, 0, 0.2);
}
