ERIC MEYER RESET html, body {
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, figure, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-style:normal;
	font-size:100%;
	line-height:1;
	font-family:inherit;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol, ul {
	list-style:none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content:"";
}

html {
	overflow-y:scroll;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

a:focus {
	outline:thin dotted;
}

div, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block;
}

audio, canvas, video {
	display:inline-block;
	*display:inline;
	*zoom:1;
}

audio:not([controls]) {
	display:none;
}

sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sup {
	top:-0.5em;
}

sub {
	bottom:-0.25em;
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
}

button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}

button, input {
	line-height:normal;
	*overflow:visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
}

input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}

textarea {
	overflow:auto;
	vertical-align:top;
	resize:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

@font-face {
	font-family:'PTSans';
	src:url("/fonts/PTS75F-webfont.eot");
	src:url("/fonts/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PTS75F-webfont.woff") format("woff"), url("/fonts/PTS75F-webfont.ttf") format("truetype"), url("/fonts/PTS75F-webfont.svg#PTSansBold") format("svg");
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:'PTSans';
	src:url("/fonts/PTS55F-webfont.eot");
	src:url("/fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PTS55F-webfont.woff") format("woff"), url("/fonts/PTS55F-webfont.ttf") format("truetype"), url("/fonts/PTS55F-webfont.svg#PTSansRegular") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'PTSans';
	src:url("/fonts/PTS76F-webfont.eot");
	src:url("/fonts/PTS76F-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PTS76F-webfont.woff") format("woff"), url("/fonts/PTS76F-webfont.ttf") format("truetype"), url("/fonts/PTS76F-webfont.svg#PTSansBoldItalic") format("svg");
	font-weight:700;
	font-style:italic;
}

@font-face {
	font-family:'PTSans';
	src:url("/fonts/PTS56F-webfont.eot");
	src:url("/fonts/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PTS56F-webfont.woff") format("woff"), url("/fonts/PTS56F-webfont.ttf") format("truetype"), url("/fonts/PTS56F-webfont.svg#PTSansItalic") format("svg");
	font-weight:normal;
	font-style:italic;
}

.clearfix {
	zoom:1;
}

.clearfix:before, .clearfix:after {
	display:table;
	content:"";
}

.clearfix:after {
	clear:both;
}

.container {
	width:960px;
	margin:0 auto;
	zoom:1;
}

.container:before, .container:after {
	display:table;
	content:"";
}

.container:after {
	clear:both;
}

.row {
	zoom:1;
}

.row:before, .row:after {
	display:table;
	content:"";
}

.row:after {
	clear:both;
}

.row .row {
	margin-left:-20px;
}

.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12, .row .span13, .row .span14, .row .span15, .row .span16, .row .span-one-third, .row .span-two-thirds, .row .span-one-fifth, .row .span-one-sixth {
	display:inline;
	float:left;
	margin-left:20px;
}

.row .span1 {
	width:40px;
}

.row .span2 {
	width:100px;
}

.row .span3 {
	width:160px;
}

.row .span4 {
	width:220px;
}

.row .span5 {
	width:280px;
}

.row .span6 {
	width:340px;
}

.row .span7 {
	width:400px;
}

.row .span8 {
	width:460px;
}

.row .span9 {
	width:520px;
}

.row .span10 {
	width:580px;
}

.row .span11 {
	width:640px;
}

.row .span12 {
	width:700px;
}

.row .span13 {
	width:760px;
}

.row .span14 {
	width:820px;
}

.row .span15 {
	width:880px;
}

.row .span16 {
	width:940px;
}

.row .span-one-third {
	width:300px;
}

.row .span-two-thirds {
	width:620px;
}

.row .span-one-third.well {
	width:260px;
}

.row .span-two-thirds.well {
	width:580px;
}

.row .span-one-sixth {
	width:140px;
}

.row .span-one-fifth {
	width:172px;
}

.row .offset1 {
	margin-left:80px;
}

.row .offset2 {
	margin-left:140px;
}

.row .offset3 {
	margin-left:200px;
}

.row .offset4 {
	margin-left:260px;
}

.row .offset5 {
	margin-left:320px;
}

.row .offset6 {
	margin-left:380px;
}

.row .offset7 {
	margin-left:440px;
}

.row .offset8 {
	margin-left:500px;
}

.row .offset9 {
	margin-left:560px;
}

.row .offset10 {
	margin-left:620px;
}

.row .offset11 {
	margin-left:680px;
}

.row .offset12 {
	margin-left:740px;
}

.row .offset-one-third {
	margin-left:340px;
}

.row .offset-two-thirds {
	margin-left:660px;
}

html, body {
	height:100%;
}

body {
	background:#eee url(../images/Body_bg.gif);
	margin:0;
	font-family:"Lucida Grande", "Segoe UI", Arial, Verdana, sans-serif;
	font-size:13px;
	font-weight:normal;
	line-height:21px;
	color:#444;
	text-rendering:optimizeLegibility;
}

#wrap, #wrapper {
	min-height:100%;
}

#main {
	overflow:hidden;
	padding-bottom:60px;
	padding-top:60px;
}

#footer {
	height:40px;
	clear:both;
	overflow:hidden;
	position:relative;
	margin-top:-40px;
}

#footer .inner, #footer .fill {
	height:40px;
}

.container {
	width:960px;
	margin:0 auto;
}

.container-fluid {
	padding:0 20px;
	zoom:1;
}

.container-fluid:before, .container-fluid:after {
	display:table;
	content:"";
}

.container-fluid:after {
	clear:both;
}

.container-fluid .sidebar {
	float:left;
}

.container-fluid .sidebar.span1 {
	width:40px;
}

.container-fluid .sidebar.span2 {
	width:100px;
}

.container-fluid .sidebar.span3 {
	width:160px;
}

.container-fluid .sidebar.span4 {
	width:220px;
}

.container-fluid .sidebar.span5 {
	width:280px;
}

.container-fluid .sidebar.span6 {
	width:340px;
}

.container-fluid .sidebar.span7 {
	width:400px;
}

.container-fluid .sidebar.span8 {
	width:460px;
}

.container-fluid .sidebar.span9 {
	width:520px;
}

.container-fluid .sidebar.span10 {
	width:580px;
}

.container-fluid .sidebar.span11 {
	width:640px;
}

.container-fluid .sidebar.span12 {
	width:700px;
}

.container-fluid .sidebar.span13 {
	width:760px;
}

.container-fluid .sidebar.span14 {
	width:820px;
}

.container-fluid .sidebar.span15 {
	width:880px;
}

.container-fluid .sidebar.span16 {
	width:940px;
}

.container-fluid>.content {
	max-width:100%;
}

.container-fluid>.content.offset1 {
	margin-left:80px;
}

.container-fluid>.content.offset2 {
	margin-left:140px;
}

.container-fluid>.content.offset3 {
	margin-left:200px;
}

.container-fluid>.content.offset4 {
	margin-left:260px;
}

.container-fluid>.content.offset5 {
	margin-left:320px;
}

.container-fluid>.content.offset6 {
	margin-left:380px;
}

.container-fluid>.content.offset7 {
	margin-left:440px;
}

.container-fluid>.content.offset8 {
	margin-left:500px;
}

.container-fluid>.content.offset9 {
	margin-left:560px;
}

.container-fluid>.content.offset10 {
	margin-left:620px;
}

.container-fluid>.content.offset11 {
	margin-left:680px;
}

.container-fluid>.content.offset12 {
	margin-left:740px;
}

.container-fluid>.content.offset13 {
	margin-left:800px;
}

.container-fluid>.content.offset14 {
	margin-left:860px;
}

.container-fluid>.content.offset15 {
	margin-left:920px;
}

.container-fluid>.content.offset16 {
	margin-left:980px;
}

a {
	color:#049cdb;
	text-decoration:none;
	line-height:inherit;
	font-weight:inherit;
}

a:hover {
	color:#0378a9;
}

p {
	font-size:13px;
	font-weight:normal;
	line-height:21px;
}

p small {
	font-size:11px;
	color:#222;
}

p+p, p+ul, p+ol, ul+p, ul+ul, ul+ol, ol+p, ol+ul, ol+ol {
	margin-top:10.5px;
}

p+h1, p+h2, p+h3, p+h4, p+h5, p+h6, ul+h1, ul+h2, ul+h3, ul+h4, ul+h5, ul+h6, ol+h1, ol+h2, ol+h3, ol+h4, ol+h5, ol+h6 {
	margin-top:14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Arial;
	font-weight:bold;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color:#bfbfbf;
}

h1.leading {
	font-size:38px;
	line-height:1.5em;
}

h1, h2 {
	font-size:24px;
	line-height:42px;
}

h1 small, h2 small {
	font-size:13px;
}

h1.larger, h2.larger {
	font-size:28px;
	font-weight:500;
}

h3, h4, h5, h6 {
	line-height:31.5px;
}

h3.compress, h4.compress, h5.compress, h6.compress {
	line-height:21px;
}

h3 {
	font-size:18px;
}

h3 small {
	font-size:11px;
}

h3.larger {
	font-size:24px;
	font-weight:500;
}

h4 {
	font-size:18px;
}

h4 small {
	font-size:10px;
}

h4.larger {
	font-size:20px;
	font-weight:500;
}

h5 {
	font-size:16px;
}

h5.larger {
	font-size:18px;
	font-weight:500;
}

h6 {
	font-size:15px;
	color:#777;
}

h6.larger {
	font-size:16px;
	font-weight:500;
}

.windows.ie h3, .windows.firefox h3, .windows.chrome h3 {
	font-size:20px;
}

.windows.ie h5, .windows.ie h6, .windows.ie .btn.large, .windows.ie .pills li a.large, .pills li .windows.ie a.large, .windows.ie .pills li.active a.large, .pills li.active .windows.ie a.large, .windows.firefox h5, .windows.firefox h6, .windows.firefox .btn.large, .windows.firefox .pills li a.large, .pills li .windows.firefox a.large, .windows.firefox .pills li.active a.large, .pills li.active .windows.firefox a.large, .windows.chrome h5, .windows.chrome h6, .windows.chrome .btn.large, .windows.chrome .pills li a.large, .pills li .windows.chrome a.large, .windows.chrome .pills li.active a.large, .pills li.active .windows.chrome a.large {
	font-family:"Lucida Grande", "Segoe UI", Arial, Verdana, sans-serif;
}

hgroup {
	margin-top:31.5px;
	margin-bottom:10.5px;
}

hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
	line-height:1.25em;
}

ul, ol {
	margin-left:20px;
}

ul.spaced li, ol.spaced li {
	margin-top:0;
}

ul.spaced li+li, ol.spaced li+li {
	margin-top:21px;
}

ul.pull, ol.pull {
	margin-left:0;
}

ul ul, ul ol, ol ol, ol ul {
	margin-bottom:0;
}

ul {
	list-style:disc;
}

ol {
	list-style:decimal;
}

li {
	line-height:21px;
	color:#444;
}

ul.unstyled {
	list-style:none;
	margin-left:0;
}

ul.nice li {
	line-height:1.25em;
}

ul.nice li+li {
	margin-top:.5em;
}

ul.larger li {
	font-size:14px;
	line-height:1.5em;
}

dl {
	margin-bottom:21px;
}

dl dt, dl dd {
	line-height:21px;
}

dl dt {
	font-weight:bold;
}

hr {
	margin:0 0 19px;
	border:0;
	border-bottom:1px solid #eee;
}

strong {
	font-style:inherit;
	font-weight:bold;
	line-height:inherit;
}

em {
	font-style:italic;
	font-weight:inherit;
	line-height:inherit;
}

small {
	font-size:.8em;
}

.muted {
	color:#bfbfbf;
}

blockquote {
	margin-bottom:21px;
	border-left:5px solid #eee;
	padding-left:15px;
}

blockquote p {
	font-size:14px;
	font-weight:300;
	line-height:21px;
	margin-bottom:0;
}

blockquote cite {
	display:block;
	font-size:12px;
	font-weight:300;
	line-height:21px;
	color:#bfbfbf;
}

address {
	display:block;
	line-height:21px;
	margin-bottom:21px;
}

code, pre {
	padding:0 3px 2px;
	font-family:Monaco, "Courier New", monospace;
	font-size:12px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

code {
	color:rgba(0, 0, 0, 0.75);
	padding:1px 3px;
}

pre {
	background-color:#f5f5f5;
	display:block;
	padding:20px;
	margin:0 0 21px;
	line-height:21px;
	font-size:12px;
	border:1px solid #ccc;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
	-webkit-box-shadow:inset 0 1px 1px white, 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 1px white, 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 1px white, 0 1px 0 rgba(0, 0, 0, 0.1);
}

a {
	outline:0;
}

a:focus, a:active {
	outline:0;
}

form .clearfix {
	margin-bottom:21px;
}

fieldset {
	margin-bottom:21px;
	padding-top:21px;
}

fieldset legend {
	display:block;
	margin-left:150px;
	font-size:16px;
	line-height:1;
	*margin:0 0 5px 145px;
	*line-height:1.5;
	color:#444;
}

label, input, select, textarea {
	font-family:"Lucida Grande", "Segoe UI", Arial, Verdana, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:normal;
}

label, .input-label {
	padding-top:4px;
	font-size:13px;
	line-height:18px;
	float:left;
	width:130px;
	text-align:right;
	color:#444;
	cursor:pointer;
}

div.input {
	margin-left:150px;
	zoom:1;
}

div.input:before, div.input:after {
	display:table;
	content:"";
}

div.input:after {
	clear:both;
}

div.input p {
	margin-top:5px;
}

input[type=checkbox], input[type=radio] {
	cursor:pointer;
}

input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=datetime], input[type=num], textarea, select, .uneditable-input {
	display:inline-block;
	width:210px;
	padding:5px 4px 4px;
	font-size:12px;
	line-height:21px;
	min-height:21px;
	color:#444;
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

select, input[type=file] {
	height:31.5px;
	line-height:31.5px;
}

textarea {
	height:auto;
}

.uneditable-input {
	background-color:#eee;
	display:block;
	border-color:#ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
}

select[multiple] {
	height:inherit;
}

:-moz-placeholder {
	color:#bfbfbf!important;
}

::-webkit-input-placeholder {
	color:#bfbfbf;
}

input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=datetime], input[type=num], select, textarea {
	-webkit-transition:border linear .2s, box-shadow linear .2s;
	-moz-transition:border linear .2s, box-shadow linear .2s;
	transition:border linear .2s, box-shadow linear .2s;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
}

input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=num]:focus, textarea:focus {
	outline:0;
	border-color:#efb470;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #d4e7b4;
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #d4e7b4;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 #d4e7b4;
}

form div.error>label, form div.error span.help-inline, form div.error span.help-block {
	color:#df002a;
}

form div.error input[type=text], form div.error input[type=password], form div.error input[type=search], form div.error input[type=email], form div.error input[type=url], form div.error input[type=tel], form div.error input[type=date], form div.error input[type=time], form div.error input[type=datetime], form div.error input[type=num], form div.error textarea {
	border-color:#df002a;
	-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);
	-moz-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);
	box-shadow:0 0 3px rgba(171, 41, 32, 0.25);
}

form div.error input[type=text]:focus, form div.error input[type=password]:focus, form div.error input[type=search]:focus, form div.error input[type=email]:focus, form div.error input[type=url]:focus, form div.error input[type=tel]:focus, form div.error input[type=date]:focus, form div.error input[type=time]:focus, form div.error input[type=datetime]:focus, form div.error input[type=num]:focus, form div.error textarea:focus {
	border-color:#ac0020;
	-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);
	-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);
	box-shadow:0 0 6px rgba(171, 41, 32, 0.5);
}

form div.error .input-prepend span.add-on, form div.error .input-append span.add-on {
	background:white;
	border-color:#df002a;
	color:#ac0020;
}

input[type=text].span1, input[type=text].span2, input[type=text].span3, input[type=text].span4, input[type=text].span5, input[type=text].span6, input[type=text].span7, input[type=text].span8, input[type=text].span9, input[type=text].span10, input[type=text].span11, input[type=text].span12, input[type=text].span13, input[type=text].span14, input[type=text].span15, input[type=text].span16, input[type=text].span-one-third, input[type=text].span-two-thirds, input[type=password].span1, input[type=password].span2, input[type=password].span3, input[type=password].span4, input[type=password].span5, input[type=password].span6, input[type=password].span7, input[type=password].span8, input[type=password].span9, input[type=password].span10, input[type=password].span11, input[type=password].span12, input[type=password].span13, input[type=password].span14, input[type=password].span15, input[type=password].span16, input[type=password].span-one-third, input[type=password].span-two-thirds, input[type=search].span1, input[type=search].span2, input[type=search].span3, input[type=search].span4, input[type=search].span5, input[type=search].span6, input[type=search].span7, input[type=search].span8, input[type=search].span9, input[type=search].span10, input[type=search].span11, input[type=search].span12, input[type=search].span13, input[type=search].span14, input[type=search].span15, input[type=search].span16, input[type=search].span-one-third, input[type=search].span-two-thirds, input[type=email].span1, input[type=email].span2, input[type=email].span3, input[type=email].span4, input[type=email].span5, input[type=email].span6, input[type=email].span7, input[type=email].span8, input[type=email].span9, input[type=email].span10, input[type=email].span11, input[type=email].span12, input[type=email].span13, input[type=email].span14, input[type=email].span15, input[type=email].span16, input[type=email].span-one-third, input[type=email].span-two-thirds, input[type=url].span1, input[type=url].span2, input[type=url].span3, input[type=url].span4, input[type=url].span5, input[type=url].span6, input[type=url].span7, input[type=url].span8, input[type=url].span9, input[type=url].span10, input[type=url].span11, input[type=url].span12, input[type=url].span13, input[type=url].span14, input[type=url].span15, input[type=url].span16, input[type=url].span-one-third, input[type=url].span-two-thirds, input[type=tel].span1, input[type=tel].span2, input[type=tel].span3, input[type=tel].span4, input[type=tel].span5, input[type=tel].span6, input[type=tel].span7, input[type=tel].span8, input[type=tel].span9, input[type=tel].span10, input[type=tel].span11, input[type=tel].span12, input[type=tel].span13, input[type=tel].span14, input[type=tel].span15, input[type=tel].span16, input[type=tel].span-one-third, input[type=tel].span-two-thirds, input[type=date].span1, input[type=date].span2, input[type=date].span3, input[type=date].span4, input[type=date].span5, input[type=date].span6, input[type=date].span7, input[type=date].span8, input[type=date].span9, input[type=date].span10, input[type=date].span11, input[type=date].span12, input[type=date].span13, input[type=date].span14, input[type=date].span15, input[type=date].span16, input[type=date].span-one-third, input[type=date].span-two-thirds, input[type=time].span1, input[type=time].span2, input[type=time].span3, input[type=time].span4, input[type=time].span5, input[type=time].span6, input[type=time].span7, input[type=time].span8, input[type=time].span9, input[type=time].span10, input[type=time].span11, input[type=time].span12, input[type=time].span13, input[type=time].span14, input[type=time].span15, input[type=time].span16, input[type=time].span-one-third, input[type=time].span-two-thirds, input[type=datetime].span1, input[type=datetime].span2, input[type=datetime].span3, input[type=datetime].span4, input[type=datetime].span5, input[type=datetime].span6, input[type=datetime].span7, input[type=datetime].span8, input[type=datetime].span9, input[type=datetime].span10, input[type=datetime].span11, input[type=datetime].span12, input[type=datetime].span13, input[type=datetime].span14, input[type=datetime].span15, input[type=datetime].span16, input[type=datetime].span-one-third, input[type=datetime].span-two-thirds, input[type=num].span1, input[type=num].span2, input[type=num].span3, input[type=num].span4, input[type=num].span5, input[type=num].span6, input[type=num].span7, input[type=num].span8, input[type=num].span9, input[type=num].span10, input[type=num].span11, input[type=num].span12, input[type=num].span13, input[type=num].span14, input[type=num].span15, input[type=num].span16, input[type=num].span-one-third, input[type=num].span-two-thirds, select.span1, select.span2, select.span3, select.span4, select.span5, select.span6, select.span7, select.span8, select.span9, select.span10, select.span11, select.span12, select.span13, select.span14, select.span15, select.span16, select.span-one-third, select.span-two-thirds, .input textarea.span1, .input textarea.span2, .input textarea.span3, .input textarea.span4, .input textarea.span5, .input textarea.span6, .input textarea.span7, .input textarea.span8, .input textarea.span9, .input textarea.span10, .input textarea.span11, .input textarea.span12, .input textarea.span13, .input textarea.span14, .input textarea.span15, .input textarea.span16, .input textarea.span-one-third, .input textarea.span-two-thirds {
	display:inline-block;
	float:none;
	margin-left:0!important;
}

input[type=text].span1, input[type=password].span1, input[type=search].span1, input[type=email].span1, input[type=url].span1, input[type=tel].span1, input[type=date].span1, input[type=time].span1, input[type=datetime].span1, input[type=num].span1, select.span1, .input textarea.span1 {
	width:40px;
}

input[type=text].span2, input[type=password].span2, input[type=search].span2, input[type=email].span2, input[type=url].span2, input[type=tel].span2, input[type=date].span2, input[type=time].span2, input[type=datetime].span2, input[type=num].span2, select.span2, .input textarea.span2 {
	width:100px;
}

input[type=text].span3, input[type=password].span3, input[type=search].span3, input[type=email].span3, input[type=url].span3, input[type=tel].span3, input[type=date].span3, input[type=time].span3, input[type=datetime].span3, input[type=num].span3, select.span3, .input textarea.span3 {
	width:160px;
}

input[type=text].span4, input[type=password].span4, input[type=search].span4, input[type=email].span4, input[type=url].span4, input[type=tel].span4, input[type=date].span4, input[type=time].span4, input[type=datetime].span4, input[type=num].span4, select.span4, .input textarea.span4 {
	width:220px;
}

input[type=text].span5, input[type=password].span5, input[type=search].span5, input[type=email].span5, input[type=url].span5, input[type=tel].span5, input[type=date].span5, input[type=time].span5, input[type=datetime].span5, input[type=num].span5, select.span5, .input textarea.span5 {
	width:280px;
}

input[type=text].span6, input[type=password].span6, input[type=search].span6, input[type=email].span6, input[type=url].span6, input[type=tel].span6, input[type=date].span6, input[type=time].span6, input[type=datetime].span6, input[type=num].span6, select.span6, .input textarea.span6 {
	width:340px;
}

input[type=text].span7, input[type=password].span7, input[type=search].span7, input[type=email].span7, input[type=url].span7, input[type=tel].span7, input[type=date].span7, input[type=time].span7, input[type=datetime].span7, input[type=num].span7, select.span7, .input textarea.span7 {
	width:400px;
}

input[type=text].span8, input[type=password].span8, input[type=search].span8, input[type=email].span8, input[type=url].span8, input[type=tel].span8, input[type=date].span8, input[type=time].span8, input[type=datetime].span8, input[type=num].span8, select.span8, .input textarea.span8 {
	width:460px;
}

input[type=text].span9, input[type=password].span9, input[type=search].span9, input[type=email].span9, input[type=url].span9, input[type=tel].span9, input[type=date].span9, input[type=time].span9, input[type=datetime].span9, input[type=num].span9, select.span9, .input textarea.span9 {
	width:520px;
}

input[type=text].span10, input[type=password].span10, input[type=search].span10, input[type=email].span10, input[type=url].span10, input[type=tel].span10, input[type=date].span10, input[type=time].span10, input[type=datetime].span10, input[type=num].span10, select.span10, .input textarea.span10 {
	width:580px;
}

input[type=text].span11, input[type=password].span11, input[type=search].span11, input[type=email].span11, input[type=url].span11, input[type=tel].span11, input[type=date].span11, input[type=time].span11, input[type=datetime].span11, input[type=num].span11, select.span11, .input textarea.span11 {
	width:640px;
}

input[type=text].span12, input[type=password].span12, input[type=search].span12, input[type=email].span12, input[type=url].span12, input[type=tel].span12, input[type=date].span12, input[type=time].span12, input[type=datetime].span12, input[type=num].span12, select.span12, .input textarea.span12 {
	width:700px;
}

input[type=text].span13, input[type=password].span13, input[type=search].span13, input[type=email].span13, input[type=url].span13, input[type=tel].span13, input[type=date].span13, input[type=time].span13, input[type=datetime].span13, input[type=num].span13, select.span13, .input textarea.span13 {
	width:760px;
}

input[type=text].span14, input[type=password].span14, input[type=search].span14, input[type=email].span14, input[type=url].span14, input[type=tel].span14, input[type=date].span14, input[type=time].span14, input[type=datetime].span14, input[type=num].span14, select.span14, .input textarea.span14 {
	width:820px;
}

input[type=text].span15, input[type=password].span15, input[type=search].span15, input[type=email].span15, input[type=url].span15, input[type=tel].span15, input[type=date].span15, input[type=time].span15, input[type=datetime].span15, input[type=num].span15, select.span15, .input textarea.span15 {
	width:880px;
}

input[type=text].span16, input[type=password].span16, input[type=search].span16, input[type=email].span16, input[type=url].span16, input[type=tel].span16, input[type=date].span16, input[type=time].span16, input[type=datetime].span16, input[type=num].span16, select.span16, .input textarea.span16 {
	width:940px;
}

input[type=text].span-full, input[type=password].span-full, input[type=search].span-full, input[type=email].span-full, input[type=url].span-full, input[type=tel].span-full, input[type=date].span-full, input[type=time].span-full, input[type=datetime].span-full, input[type=num].span-full, select.span-full, .input textarea.span-full {
	width:100%;
}

textarea.height2 {
	height:42px;
}

textarea.height3 {
	height:63px;
}

textarea.height4 {
	height:84px;
}

textarea.height6 {
	height:126px;
}

textarea.height7 {
	height:147px;
}

textarea.height8 {
	height:168px;
}

input[readonly]:focus, textarea[readonly]:focus, input.disabled {
	background:#f5f5f5;
	border-color:#ddd;
}

.actions {
	background:#f2f2f2;
	margin-bottom:21px;
	border-top:1px solid #ddd;
	padding:20px 20px 21px 150px;
}

.actions .secondary-action {
	float:right;
}

.actions .submit {
	zoom:1;
	margin:0;
	padding:0;
}

.actions .submit:before, .actions .submit:after {
	display:table;
	content:"";
}

.actions .submit:after {
	clear:both;
}

.help-inline, .help-block {
	font-size:12px;
	line-height:21px;
	color:#bfbfbf;
}

.help-inline {
	padding-left:5px;
	*position:relative;
	*top:-5px;
}

.help-block {
	display:block;
	max-width:600px;
	font-size:11px;
	color:#999;
	margin-top:1px;
}

.inputs-list {
	margin:0 0 5px;
	width:100%;
}

.inputs-list li {
	display:block;
	padding:0;
	width:100%;
	padding-top:5px;
}

.inputs-list li label {
	display:block;
	float:none;
	width:auto;
	padding:0;
	line-height:21px;
	text-align:left;
	white-space:normal;
}

.inputs-list li label strong {
	color:#777;
}

.inputs-list li label small {
	font-size:12px;
	font-weight:normal;
}

.inputs-list li ul.inputs-list {
	margin-left:25px;
	margin-bottom:10px;
	padding-top:0;
}

.inputs-list input[type=radio], .inputs-list input[type=checkbox] {
	margin-bottom:0;
}

.inputs-list input[type=radio] {
	margin-left:1px;
}

.form-stacked fieldset {
	padding-top:10.5px;
}

.form-stacked legend {
	margin-left:0;
}

.form-stacked label {
	display:block;
	float:none;
	width:auto;
	font-weight:bold;
	text-align:left;
	line-height:24px;
	padding-top:0;
}

.form-stacked .clearfix {
	margin-bottom:10.5px;
}

.form-stacked .clearfix div.input {
	margin-left:0;
}

.form-stacked .inputs-list {
	margin-bottom:0;
}

.form-stacked .inputs-list li label {
	font-weight:normal;
	padding-top:0;
}

.form-stacked div.error {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	margin-top:0;
	margin-left:-10px;
}

.form-stacked .actions {
	margin-left:-16px;
	padding-left:16px;
}

.form-stacked .actions .clearfix {
	margin:0;
	padding:0;
}

table {
	width:100%;
	margin-bottom:21px;
	padding:0;
	border-collapse:collapse;
	font-size:13px;
	border:1px solid #bfbfbf;
	-webkit-box-shadow:inset 0 1px 1px white, 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 1px white, 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 1px white, 0 1px 0 rgba(0, 0, 0, 0.1);
}

table th, table td {
	padding:10px 10px 9px;
	line-height:15.75px;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid #bfbfbf;
}

table th {
	padding:13px 10px 11px;
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #777;
}

table.with-caption {
	margin-bottom:0;
	border-bottom:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.table-caption {
	text-align:left;
	font-size:13px;
	color:#777;
	font-weight:bold;
	background:#e6e6e6;
	padding:10.5px 10.5px 1px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	border:1px solid #bfbfbf;
	border-top:1px solid #bfbfbf;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	margin-bottom:21px;
}

.zebra-striped tbody tr:nth-child(odd) td {
	background-color:#f2f2f2;
}

.zebra-striped tbody tr:hover td {
	background-color:#e6e6e6;
}

.zebra-striped .header {
	cursor:pointer;
}

.zebra-striped .header:after {
	content:"";
	float:right;
	margin-top:5px;
	border-width:0 4px 4px;
	border-style:solid;
	border-color:#000 transparent;
	visibility:hidden;
}

.zebra-striped .headerSortUp, .zebra-striped .headerSortDown {
	background-color:#d6e7b9;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

.zebra-striped .header:hover {
	background-color:#ecf4df;
}

.zebra-striped .header:hover:after {
	visibility:visible;
}

.zebra-striped .headerSortDown:after, .zebra-striped .headerSortDown:hover:after {
	visibility:visible;
	filter:alpha(opacity=60);
	-khtml-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
}

.zebra-striped .headerSortUp:after {
	border-bottom:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #000;
	visibility:visible;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	filter:alpha(opacity=60);
	-khtml-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
}

.topbar, .bar {
	overflow:visible;
}

.topbar .topbar-inner, .topbar .fill, .topbar .inner, .bar .topbar-inner, .bar .fill, .bar .inner {
	background-color:#00A3D3;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#51C1D3), to(#00A3D3));
	background-image:-moz-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:-ms-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #51C1D3), color-stop(100%, #00A3D3));
	background-image:-webkit-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:-o-linear-gradient(top, #51C1D3, #00A3D3);
	background-image:linear-gradient(top, #51C1D3, #00A3D3);
}

.topbar.top, .bar.top {
	border-top:3px solid #FFF9B1;
	border-bottom:1px solid #00A3D3;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.199);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.199);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.199);
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:500;
}

.topbar.top .inner, .bar.top .inner {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar.bottom, .bar.bottom {
	-webkit-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 -1px 3px rgba(0, 0, 0, 0.1);
	border-top:1px solid #00A3D3;
}

.topbar a, .bar a {
	color:#f2f2f2;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar ul li.active a, .bar ul li.active a {
	background-color:#333;
	background-color:rgba(255, 255, 255, 0.05);
	color:white;
	text-decoration:none;
	border-right:1px solid #222;
	border-left:1px solid #222;
}

.topbar h1, .topbar h3, .bar h1, .bar h3 {
	position:relative;
}

.topbar h1 a, .topbar h3 a, .bar h1 a, .bar h3 a {
	float:left;
	display:block;
	color:#f2f2f2;
	font-size:24px;
	line-height:43px;
	margin-right:20px;
	margin-left:20px;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.85);
}

.topbar h1 a span, .topbar h3 a span, .bar h1 a span, .bar h3 a span {
	font-weight:500;
	color:#e6e6e6;
}

.topbar nav.small.right a, .bar nav.small.right a {
	float:right;
	padding-left:2em;
}

.topbar nav.small a, .bar nav.small a {
	line-height:40px;
	font-size:11px;
	display:block;
	float:left;
	padding-right:2em;
}

.topbar form, .bar form {
	float:left;
	margin:5px 0 0 0;
	position:relative;
	filter:alpha(opacity=100);
	-khtml-opacity:1;
	-moz-opacity:1;
	opacity:1;
}

.topbar form input, .bar form input {
	font-family:"Lucida Grande", "Segoe UI", Arial, Verdana, sans-serif;
	font-size:normal;
	font-weight:13px;
	line-height:1;
	width:220px;
	padding:3px 5px 2px;
	margin-top:3px;
	background-color:#444;
	background-color:rgba(255, 255, 255, 0.2);
	color:#fff;
	color:rgba(255, 255, 255, 0.75);
	border:1px solid #111;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}

.topbar form input:-moz-placeholder, .bar form input:-moz-placeholder {
	color:#bfbfbf;
}

.topbar form input::-webkit-input-placeholder, .bar form input::-webkit-input-placeholder {
	color:#bfbfbf;
}

.topbar form input:hover, .bar form input:hover {
	color:#fff;
	padding:3px 9px 2px;
	margin-top:3px;
}

.topbar form input:focus, .topbar form input.focused, .bar form input:focus, .bar form input.focused {
	outline:0;
	padding:3px 5px 2px;
	margin-top:3px;
	background-color:rgba(255, 255, 255, 0.35);
	text-shadow:0 1px 0 #111;
	border-color:#111;
	color:#f2f2f2;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25);
}

.topbar>ul.nav li, .bar>ul.nav li {
	border-right:1px solid #676767;
}

.topbar ul.nav, .bar ul.nav {
	display:block;
	float:left;
	margin:0 10px 0 0;
	position:relative;
}

.topbar ul.nav.secondary-nav, .bar ul.nav.secondary-nav {
	float:right;
	margin-left:10px;
	margin-right:-1px;
}

.topbar ul.nav li, .bar ul.nav li {
	display:block;
	float:left;
	font-size:13px;
}

.topbar ul.nav li a, .bar ul.nav li a {
	display:block;
	float:none;
	padding:13px 20px 11px;
	line-height:19px;
	text-decoration:none;
}

.topbar ul.nav li a:hover, .bar ul.nav li a:hover {
	color:white;
	text-decoration:none;
}

.topbar ul.nav li.active a, .bar ul.nav li.active a {
	background-color:#222;
	-webkit-box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.7), inset 1px 0 30pxpx rgba(0, 0, 0, 0.7);
	-moz-box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.7), inset 1px 0 30pxpx rgba(0, 0, 0, 0.7);
	box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.7), inset 1px 0 30pxpx rgba(0, 0, 0, 0.7);
}

.topbar ul.nav>li.active, .bar ul.nav>li.active {
	border-top:5px solid #b1e4fc;
	margin-top:-5px;
}

.topbar ul.nav>li:hover, .bar ul.nav>li:hover {
	border-top:5px solid #b1e4fc;
	margin-top:-5px;
}

.topbar ul.nav.primary-nav li ul, .bar ul.nav.primary-nav li ul {
	left:0;
}

.topbar ul.nav.secondary-nav li ul, .bar ul.nav.secondary-nav li ul {
	right:0;
}

.topbar ul.nav li.dropdown, .bar ul.nav li.dropdown {
	position:relative;
}

.topbar ul.nav li.dropdown a.dropdown-toggle:after, .bar ul.nav li.dropdown a.dropdown-toggle:after {
	width:0;
	height:0;
	display:inline-block;
	content:"&darr;
	";
	text-indent:-99999px;
	vertical-align:top;
	margin-top:8px;
	margin-left:4px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid white;
	filter:alpha(opacity=50);
	-khtml-opacity:.5;
	-moz-opacity:.5;
	opacity:.5;
}

.topbar ul.nav li.dropdown.open, .bar ul.nav li.dropdown.open {
	background-color:#222;
}

.topbar ul.nav li.dropdown.open a.menu, .topbar ul.nav li.dropdown.open a:hover, .bar ul.nav li.dropdown.open a.menu, .bar ul.nav li.dropdown.open a:hover {
	background-color:#444;
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#444;
	color:white;
}

.topbar ul.nav li.dropdown.open ul, .bar ul.nav li.dropdown.open ul {
	display:block;
}

.topbar ul.nav li.dropdown.open ul li a, .bar ul.nav li.dropdown.open ul li a {
	background-color:transparent;
	font-weight:normal;
}

.topbar ul.nav li.dropdown.open ul li a:hover, .bar ul.nav li.dropdown.open ul li a:hover {
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#333;
	color:white;
}

.topbar ul.nav li.dropdown.open ul li.active a, .bar ul.nav li.dropdown.open ul li.active a {
	background-color:rgba(255, 255, 255, 0.1);
	font-weight:bold;
}

.topbar ul.nav li ul, .bar ul.nav li ul {
	background-color:#222;
	display:none;
	position:absolute;
	top:43px;
	width:100%;
	min-width:150px;
	margin:0;
	padding:0;
	zoom:1;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
}

.topbar ul.nav li ul li, .bar ul.nav li ul li {
	float:none;
	clear:both;
	display:block;
	background:0;
	font-size:12px;
	border:0;
	border-bottom:1px solid #676767;
}

.topbar ul.nav li ul li:last-of-type, .bar ul.nav li ul li:last-of-type {
	border-bottom:0;
}

.topbar ul.nav li ul li a, .bar ul.nav li ul li a {
	display:block;
	padding:12px 20px;
	clear:both;
	font-weight:normal;
	line-height:19px;
	color:#f2f2f2;
}

.topbar ul.nav li ul li a:hover, .bar ul.nav li ul li a:hover {
	background-color:#333;
	background-color:rgba(255, 255, 255, 0.25);
	color:white;
}

.topbar ul.nav li ul li.divider, .bar ul.nav li ul li.divider {
	height:1px;
	overflow:hidden;
	background:#444;
	background:rgba(0, 0, 0, 0.1);
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
	margin:10px 0;
}

.topbar ul.nav li ul li span, .bar ul.nav li ul li span {
	clear:both;
	display:block;
	background:rgba(0, 0, 0, 0.2);
	padding:6px 15px;
	cursor:default;
	color:#777;
	border-top:1px solid rgba(0, 0, 0, 0.2);
}

section footer {
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #eee;
}

#sidebar {
	margin:0;
	padding:0 0 0 39px;
	margin:40px 0 0 39px;
	border-left:1px solid #ddd;
	position:relative;
}

#sidebar:after {
	content:"&nbsp;
	";
	width:1px;
	height:130px;
	display:block;
	text-indent:-9999em;
	position:absolute;
	background:url("/img/sidebar-fade.png") no-repeat 0 0;
	bottom:-80px;
	left:-1px;
}

#sidebar nav ul {
	font-size:12px;
	list-style:none;
	margin:0;
}

#sidebar nav ul li {
	margin:.5em 0 .9em;
	line-height:1.25em;
}

#sidebar nav ul li a {
	display:block;
}

#sidebar nav ul li.active {
	margin:0 0 0 -43px;
	padding:0 0 0 30px;
	position:relative;
	z-index:100;
}

#sidebar nav ul li.active:before {
	content:" ";
	position:absolute;
	background:url("/img/common-sprite.png?2") no-repeat 0 0;
	width:14px;
	height:25px;
	left:-7px;
	top:-1px;
}

#sidebar nav ul li.active a {
	color:#666;
	font-weight:700;
}

.loader {
	display:none;
	width:20px;
	height:20px;
	background:url("/img/ajax-loader-small.gif") no-repeat;
	z-index:100;
	margin:0 0 0 6px;
	position:relative;
	top:6px;
}

#load-more .loader, footer .loader, .actions .loader {
	background:url("/img/ajax-loader-small-on-darker.gif") no-repeat;
}

form.disabled .loader, .loader.active, .form-disabled .loader {
	display:inline-block;
}

.item-actions {
	width:56px;
	margin:0 0 0 16px;
	float:right;
	padding:0;
	background:tranparent;
}

.item-actions.wide {
	width:213px;
	margin:0;
	float:right;
}

.item-actions.wide a {
	margin:0 0 0 15px;
	float:right;
}

.item-actions a, .item-actions a:visited {
	height:54px;
	width:54px;
	text-align:center;
	display:block;
	border:1px solid #e5e5e5;
	margin-bottom:15px;
	background:#f8f8f8 url("/img/action-buttons.png?1") no-repeat 0 0;
	line-height:89px;
	color:#b3b3b3;
	text-shadow:0 1px 0 #fff;
	font-size:.8em;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 1px #e2e2e2, inset 0 1px 0 white;
	-moz-box-shadow:0 1px 1px #e2e2e2, inset 0 1px 0 white;
	box-shadow:0 1px 1px #e2e2e2, inset 0 1px 0 white;
}

.item-actions a:hover, .item-actions a:visited:hover {
	color:#e89252;
}

.item-actions a.delete, .item-actions a:visited.delete {
	background-position:0 0;
}

.item-actions a.delete:hover, .item-actions a:visited.delete:hover {
	background-position:0 -54px;
}

.item-actions a.edit, .item-actions a:visited.edit {
	background-position:-54px 0;
}

.item-actions a.edit:hover, .item-actions a:visited.edit:hover {
	background-position:-54px -54px;
}

.item-actions a.embed, .item-actions a:visited.embed {
	background-position:-108px 0;
}

.item-actions a.embed:hover, .item-actions a:visited.embed:hover {
	background-position:-108px -54px;
}

.item-actions a.activate, .item-actions a:visited.activate {
	background-position:-162px 0;
}

.item-actions a.activate:hover, .item-actions a:visited.activate:hover {
	background-position:-162px -54px;
}

.item-actions a.deactivate, .item-actions a:visited.deactivate {
	background-position:-216px 0;
}

.item-actions a.deactivate:hover, .item-actions a:visited.deactivate:hover {
	background-position:-216px -54px;
}

.item-actions a.stats, .item-actions a:visited.stats {
	background-position:-270px 0;
}

.item-actions a.stats:hover, .item-actions a:visited.stats:hover {
	background-position:-270px -54px;
}

.item-actions a.watch, .item-actions a:visited.watch {
	background-position:-324px 0;
}

.item-actions a.watch:hover, .item-actions a:visited.watch:hover {
	background-position:-324px -54px;
}

.item-actions a.usage, .item-actions a:visited.usage {
	background-position:-378px 0;
}

.item-actions a.usage:hover, .item-actions a:visited.usage:hover {
	background-position:-378px -54px;
}

html.ie8 .item-actions a {
	color:#999!important;
}

.ribbon {
	padding-bottom:10px;
	padding-top:10px;
	clear: both;
	overflow:hidden;
}

.ribbon p {
	position:relative;
	z-index:1;
}

.ribbon.dark {
	color:#f2f2f2;
}
.ribbon.dark .container {
	background:#eee;
	color:#f2f2f2;
}

.ribbon.icons {
	/*background:#170e07 url("/img/bg/iconbg.png") center center;*/
	color:#222;
}

.ribbon.dark .well, .ribbon.icons .well {
	background:#eee;
	border-color:eee;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.ribbon.orange {
	background:#f49546 url("/img/bg/softorange.png");
	box-shadow:0 3px 12px rgba(0, 0, 0, 0.05), 0 -3px 12px rgba(0, 0, 0, 0.05), inset 0 3px 12px rgba(255, 255, 255, 0.1), inset 0 -3px 12px rgba(255, 255, 255, 0.1);
	color:#f9f9f9;
}

.ribbon.orange .well, .ribbon.orange pre {
	background:#e89252;
	border-color:#e67a2e;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.ribbon.orange pre code {
	color:#fff;
	font-size:14px;
}

.ribbon.orange h4 a {
	color:#fff;
}

.ribbon.orange h2 {
	font-weight:700;
	color:#fff;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
}

.ribbon.light {
	
}
.ribbon.light .container {
	border: 1px solid #eee;
}

.ribbon.light.bg .container {
	background:#f9f9f9;
}

.ribbon.top {
	margin-top:-14px;
}

.ribbon.push {
	margin-bottom:2em;
}

.ribbon.border-top {
	border-top:1px solid #ddd;
	border-bottom:0;
}

.fade {
	-webkit-transition:opacity .15s linear;
	-moz-transition:opacity .15s linear;
	transition:opacity .15s linear;
	opacity:0;
}

.fade.in {
	opacity:1;
}

.btn, .pills li a, .pills li.active a, .alert-message {
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	color:#444;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f2f2f2;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#bfbfbf;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-sizing:border;
	-moz-box-sizing:border;
	box-sizing:border;
}

.alert-message.left-text {
	text-align:left;
}

.alert-message.primary {
	background:#ffdebd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e5843b;
}

.alert-message.success {
	background:#d8f2fe;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#98dbfb;
}

.alert-message.active {
	background:#ecf4df;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#bcd78b;
}

.alert-message.danger, .alert-message.error, .alert-message.warning {
	background:#fce0e0;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e04e4e;
}

.alert-message.danger a, .alert-message.error a, .alert-message.warning a {
	color:#444;
	text-decoration:underline;
}

.alert-message.minor {
	background:#f8f5ca;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#bab32a;
}

.alert-message.info {
	background:#ceeefd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#27adec;
}

.alert-message.action {
	background:#d8f2fe;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#27adec;
}

.btn, .pills li a, .pills li.active a {
	outline:0;
	cursor:pointer;
	display:inline-block;
	padding:.65em 1.35em;
	font-size:13px;
	font-weight:700;
	line-height:normal;
	color:#444;
	text-shadow:0 1px 0 #f2f2f2;
	background:white;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#b2b2b2;
	background-color:#f5f5f5;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(white), to(#f5f5f5));
	background-image:-moz-linear-gradient(top, white, #f5f5f5);
	background-image:-ms-linear-gradient(top, white, #f5f5f5);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f5f5f5));
	background-image:-webkit-linear-gradient(top, white, #f5f5f5);
	background-image:-o-linear-gradient(top, white, #f5f5f5);
	background-image:linear-gradient(top, white, #f5f5f5);
}

.btn.full-width, .pills li a.full-width, .pills li.active a.full-width {
	width:100%;
	text-align:center;
	padding-left:0;
	padding-right:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.btn.primary, .pills li a.primary, .pills li.active a.primary {
	background:#ffdebd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#006699;
	background-color:#006699;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#00A3D3), to(#006699));
	background-image:-moz-linear-gradient(top, #00A3D3, #006699);
	background-image:-ms-linear-gradient(top, #00A3D3, #006699);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #00A3D3), color-stop(100%, #006699));
	background-image:-webkit-linear-gradient(top, #00A3D3, #006699);
	background-image:-o-linear-gradient(top, #00A3D3, #006699);
	background-image:linear-gradient(top, #00A3D3, #006699);
}

.btn.success, .pills li a.success, .pills li.active a.success {
	background:#d2e4b1;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#73a13a;
	background-color:#c0da93;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#d2e4b1), to(#c0da93));
	background-image:-moz-linear-gradient(top, #d2e4b1, #c0da93);
	background-image:-ms-linear-gradient(top, #d2e4b1, #c0da93);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2e4b1), color-stop(100%, #c0da93));
	background-image:-webkit-linear-gradient(top, #d2e4b1, #c0da93);
	background-image:-o-linear-gradient(top, #d2e4b1, #c0da93);
	background-image:linear-gradient(top, #d2e4b1, #c0da93);
}

.btn.danger, .pills li a.danger, .pills li.active a.danger, .btn.cancel, .pills li a.cancel, .pills li.active a.cancel {
	background:#fce0e0;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e04e4e;
	background-color:#facdcd;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#fce0e0), to(#facdcd));
	background-image:-moz-linear-gradient(top, #fce0e0, #facdcd);
	background-image:-ms-linear-gradient(top, #fce0e0, #facdcd);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fce0e0), color-stop(100%, #facdcd));
	background-image:-webkit-linear-gradient(top, #fce0e0, #facdcd);
	background-image:-o-linear-gradient(top, #fce0e0, #facdcd);
	background-image:linear-gradient(top, #fce0e0, #facdcd);
}

.btn.info, .pills li a.info, .pills li.active a.info {
	background:#ceeefd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#27adec;
	background-color:#b1e4fc;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#ceeefd), to(#b1e4fc));
	background-image:-moz-linear-gradient(top, #ceeefd, #b1e4fc);
	background-image:-ms-linear-gradient(top, #ceeefd, #b1e4fc);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ceeefd), color-stop(100%, #b1e4fc));
	background-image:-webkit-linear-gradient(top, #ceeefd, #b1e4fc);
	background-image:-o-linear-gradient(top, #ceeefd, #b1e4fc);
	background-image:linear-gradient(top, #ceeefd, #b1e4fc);
}

.btn.action, .pills li a.action, .pills li.active a.action {
	background:#d8f2fe;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#27adec;
	background-color:#b1e4fc;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#d8f2fe), to(#b1e4fc));
	background-image:-moz-linear-gradient(top, #d8f2fe, #b1e4fc);
	background-image:-ms-linear-gradient(top, #d8f2fe, #b1e4fc);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8f2fe), color-stop(100%, #b1e4fc));
	background-image:-webkit-linear-gradient(top, #d8f2fe, #b1e4fc);
	background-image:-o-linear-gradient(top, #d8f2fe, #b1e4fc);
	background-image:linear-gradient(top, #d8f2fe, #b1e4fc);
}

.btn:hover, .pills li a:hover, .pills li.active a:hover {
	color:#444;
	text-decoration:none;
	background:white;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#006699;
}

.btn:hover.primary, .pills li a:hover.primary, .pills li.active a:hover.primary {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00A3D3) );
	background:-moz-linear-gradient( center top, #006699 5%, #00A3D3 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00A3D3');
}

.btn:hover.success, .pills li a:hover.success, .pills li.active a:hover.success {
	background:#cbe1a6;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#73a13a;
}

.btn:hover.danger, .pills li a:hover.danger, .pills li.active a:hover.danger, .btn:hover.cancel, .pills li a:hover.cancel, .pills li.active a:hover.cancel {
	background:#fce4e4;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e04e4e;
}

.btn:hover.info, .pills li a:hover.info, .pills li.active a:hover.info {
	background:#caecfd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#27adec;
}

.btn:hover.action, .pills li a:hover.action, .pills li.active a:hover.action {
	background:#caecfd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#27adec;
}

.btn:active, .pills li a:active, .pills li.active a:active {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.btn.small, .pills li a.small, .pills li.active a.small {
	font-size:11px;
}

.btn.x-small, .pills li a.x-small, .pills li.active a.x-small {
	font-size:11px;
	padding:.25em;
}

.btn.x-large, .pills li a.x-large, .pills li.active a.x-large {
	font-size:22px;
	line-height:.9em;
	font-family:PTSans, "Lucida Grande", "Seoge UI", Arial, Verdana, sans-serif;
}

.btn.large, .pills li a.large, .pills li.active a.large {
	font-size:16px;
	font-family:PTSans, "Lucida Grande", "Seoge UI", Arial, Verdana, sans-serif;
}

.btn small, .pills li a small, .pills li.active a small {
	font-size:11px;
	font-family:"Lucida Grande", "Segoe UI", Arial, Verdana, sans-serif;
	font-weight:700;
}

.btn.disabled, .pills li a.disabled, .pills li.active a.disabled {
	cursor:default;
	filter:alpha(opacity=65);
	-khtml-opacity:.65;
	-moz-opacity:.65;
	opacity:.65;
}

.btn.disabled:hover, .pills li a.disabled:hover, .pills li.active a.disabled:hover, .btn.disabled:active, .pills li a.disabled:active, .pills li.active a.disabled:active {
	background:#f2f2f2;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#bfbfbf;
}

.btn.disabled:hover.primary, .pills li a.disabled:hover.primary, .pills li.active a.disabled:hover.primary, .btn.disabled:active.primary, .pills li a.disabled:active.primary, .pills li.active a.disabled:active.primary {
	background:#ffc994;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e89252;
}

.btn.disabled:hover.success, .pills li a.disabled:hover.success, .pills li.active a.disabled:hover.success, .btn.disabled:active.success, .pills li a.disabled:active.success, .pills li.active a.disabled:active.success {
	background:#c0da93;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#80b441;
}

.btn.disabled:hover.danger, .pills li a.disabled:hover.danger, .pills li.active a.disabled:hover.danger, .btn.disabled:active.danger, .pills li a.disabled:active.danger, .pills li.active a.disabled:active.danger {
	background:#facdcd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e46464;
}

.btn.disabled:hover.info, .pills li a.disabled:hover.info, .pills li.active a.disabled:hover.info, .btn.disabled:active.info, .pills li a.disabled:active.info, .pills li.active a.disabled:active.info {
	background:#b1e4fc;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#3eb6ee;
}

.btn.disabled:hover.action, .pills li a.disabled:hover.action, .pills li.active a.disabled:hover.action, .btn.disabled:active.action, .pills li a.disabled:active.action, .pills li.active a.disabled:active.action {
	background:#b1e4fc;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#3eb6ee;
}

.btn:disabled, .pills li a:disabled, .pills li.active a:disabled {
	cursor:default;
	background-image:none;
	filter:alpha(opacity=65);
	-khtml-opacity:.65;
	-moz-opacity:.65;
	opacity:.65;
}

.btn:disabled:hover, .pills li a:disabled:hover, .pills li.active a:disabled:hover, .btn:disabled:active, .pills li a:disabled:active, .pills li.active a:disabled:active {
	background:#f2f2f2;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#bfbfbf;
}

.btn:disabled:hover.primary, .pills li a:disabled:hover.primary, .pills li.active a:disabled:hover.primary, .btn:disabled:active.primary, .pills li a:disabled:active.primary, .pills li.active a:disabled:active.primary {
	background:#ffc994;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e89252;
}

.btn:disabled:hover.success, .pills li a:disabled:hover.success, .pills li.active a:disabled:hover.success, .btn:disabled:active.success, .pills li a:disabled:active.success, .pills li.active a:disabled:active.success {
	background:#c0da93;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#80b441;
}

.btn:disabled:hover.danger, .pills li a:disabled:hover.danger, .pills li.active a:disabled:hover.danger, .btn:disabled:active.danger, .pills li a:disabled:active.danger, .pills li.active a:disabled:active.danger {
	background:#facdcd;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e46464;
}

.btn:disabled:hover.info, .pills li a:disabled:hover.info, .pills li.active a:disabled:hover.info, .btn:disabled:active.info, .pills li a:disabled:active.info, .pills li.active a:disabled:active.info {
	background:#b1e4fc;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#3eb6ee;
}

.btn:disabled:hover.action, .pills li a:disabled:hover.action, .pills li.active a:disabled:hover.action, .btn:disabled:active.action, .pills li a:disabled:active.action, .pills li.active a:disabled:active.action {
	background:#b1e4fc;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#3eb6ee;
}

button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
	padding:0;
	border:0;
}

.close {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	float:right;
	margin-top:-1px;
	color:black;
	font-size:18px;
	font-weight:bold;
	text-shadow:0 1px 0 white;
	filter:alpha(opacity=20);
	-khtml-opacity:.2;
	-moz-opacity:.2;
	opacity:.2;
}

.close:hover {
	color:black;
	text-decoration:none;
	filter:alpha(opacity=40);
	-khtml-opacity:.4;
	-moz-opacity:.4;
	opacity:.4;
}

.alert-message {
	margin-bottom:21px;
	padding:7px 14px;
	text-align:center;
}

.alert-message h5 {
	line-height:21px;
	margin-top:4px;
}

.alert-message p {
	margin-bottom:0;
}

.alert-message.block-message {
	padding:14px;
	text-align:left;
}

.alert-message.block-message p {
	margin-right:30px;
}

.alert-message.block-message .alert-actions {
	margin:9px 0 0 0;
}

.tabs, .pills {
	margin:0;
	padding:0;
	zoom:1;
}

.tabs:before, .tabs:after, .pills:before, .pills:after {
	display:table;
	content:"";
}

.tabs:after, .pills:after {
	clear:both;
}

.tabs li, .pills li {
	display:inline;
}

.tabs li a, .pills li a {
	float:left;
	width:auto;
}

.tabs {
	width:100%;
	border-bottom:1px solid #e6e6e6;
}

.tabs.on-well {
	border-bottom:0;
}

.tabs li a {
	margin-bottom:-1px;
	margin-right:2px;
	padding:0 15px;
	line-height:41px;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}

.tabs li a:hover {
	background-color:#e6e6e6;
	border-bottom:1px solid #e6e6e6;
}

.tabs li.active a {
	background-color:#fff;
	padding:0 14px;
	border:1px solid #e6e6e6;
	border-bottom:0;
	color:#777;
}

.pills {
	margin-bottom:10.5px;
}

.pills li a {
	padding-left:15px;
	padding-right:15px;
	margin-right:15px;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
	border-radius:17px;
	background:#b1e4fc;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#3eb6ee;
}

.pills li.active a {
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
	border-radius:17px;
	background:#ffc994;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);
	border-color:#e89252;
}

.tab-content>.active, .pill-content>.active {
	display:block;
	padding:12px 0;
	min-height:20px;
}

.tab-content>.active.well, .pill-content>.active.well {
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}

.tab-content>*, .pill-content>* {
	display:none;
}

.pill-content>.active {
	border:1px solid #e6e6e6;
}

.tab-content>.active {
	border-top:0;
}

.media-grid {
	margin-left:-20px;
	margin-bottom:0;
	zoom:1;
}

.media-grid:before, .media-grid:after {
	display:table;
	content:"";
}

.media-grid:after {
	clear:both;
}

.media-grid li {
	display:inline;
}

.media-grid a {
	float:left;
	padding:4px;
	margin:0 0 20px 20px;
	border:1px solid #ddd;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}

.media-grid a img {
	display:block;
}

.media-grid a:hover {
	border-color:#049cdb;
	-webkit-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
}

.well {
	margin-bottom:16px;
	padding:16px;
	min-height:20px;
	background:white;
	border:1px solid #ddd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
}

.well.form {
	padding:16px 0 0 0;
}

.well.form .form-stacked .clearfix {
	padding-left:16px;
	padding-right:16px;
}

.well.form .form-stacked .actions {
	margin-left:0;
}

.well.form .actions {
	margin-bottom:0;
}

.well.footer {
	padding:16px 0 0 0;
}

.well.footer .content {
	padding:0 16px 0;
}

.well.footer>footer {
	padding:8px 16px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
	border-top:1px solid #ddd;
	-webkit-box-shadow:0 -1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 -1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:0 -1px 0 rgba(255, 255, 255, 0.5);
	background:#f3f3f3;
}

.well.header-footer {
	padding:0;
	margin:0;
}

.well.header-footer header, .well.header-footer footer, .well.header-footer .content {
	padding:8px 16px;
}

.well.header-footer header, .well.header-footer footer {
	background:#f3f3f3;
}

.well.header-footer header .pagination ul, .well.header-footer header .breadcrumb, .well.header-footer footer .pagination ul, .well.header-footer footer .breadcrumb {
	background:0;
	border:0;
	padding:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.well.header-footer header .pagination, .well.header-footer footer .pagination {
	margin:10.5px 0;
}

.well.header-footer header .pagination ul li a, .well.header-footer footer .pagination ul li a {
	border:0;
}

.well.header-footer header {
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
	border-bottom:1px solid #ddd;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}

.well.header-footer footer {
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
	border-top:1px solid #ddd;
	-webkit-box-shadow:0 -1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 -1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:0 -1px 0 rgba(255, 255, 255, 0.5);
}

.reveal-modal-backdrop, .reveal-modal-bg {
	background-color:rgba(0, 0, 0, 0.5);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1000;
}

.modal, .reveal-modal {
	visibility:hidden;
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-300px;
	width:520px;
	z-index:2000;
	padding:1em 0 .45em;
	background-color:white;
	border:1px solid #e6e6e6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
}

.modal .close, .modal .close-reveal-modal, .reveal-modal .close, .reveal-modal .close-reveal-modal {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	position:absolute;
	right:10px;
	top:10px;
	color:#999;
	line-height:10px;
	font-size:18px;
	cursor:pointer;
	font-weight:700;
}

.modal .modal-header, .modal header, .reveal-modal .modal-header, .reveal-modal header {
	border-bottom:1px solid #eee;
	padding:5px 20px;
}

.modal .modal-body, .reveal-modal .modal-body {
	padding:20px;
}

.modal .modal-footer, .modal footer, .reveal-modal .modal-footer, .reveal-modal footer {
	background-color:#f5f5f5;
	padding:14px 20px 15px;
	border-top:1px solid #ddd;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-box-shadow:inset 0 1px 0 white;
	-moz-box-shadow:inset 0 1px 0 white;
	box-shadow:inset 0 1px 0 white;
	zoom:1;
	margin-bottom:0;
}

.modal .modal-footer:before, .modal .modal-footer:after, .modal footer:before, .modal footer:after, .reveal-modal .modal-footer:before, .reveal-modal .modal-footer:after, .reveal-modal footer:before, .reveal-modal footer:after {
	display:table;
	content:"";
}

.modal .modal-footer:after, .modal footer:after, .reveal-modal .modal-footer:after, .reveal-modal footer:after {
	clear:both;
}

.modal .modal-footer .btn, .modal .modal-footer .pills li a, .pills li .modal .modal-footer a, .modal .modal-footer .pills li.active a, .pills li.active .modal .modal-footer a, .modal footer .btn, .modal footer .pills li a, .pills li .modal footer a, .modal footer .pills li.active a, .pills li.active .modal footer a, .reveal-modal .modal-footer .btn, .reveal-modal .modal-footer .pills li a, .pills li .reveal-modal .modal-footer a, .reveal-modal .modal-footer .pills li.active a, .pills li.active .reveal-modal .modal-footer a, .reveal-modal footer .btn, .reveal-modal footer .pills li a, .pills li .reveal-modal footer a, .reveal-modal footer .pills li.active a, .pills li.active .reveal-modal footer a {
	float:right;
	margin-left:10px;
}

.modal.small, .reveal-modal.small {
	width:200px;
	margin-left:-140px;
}

.modal.medium, .reveal-modal.medium {
	width:400px;
	margin-left:-240px;
}

.modal.large, .reveal-modal.large {
	width:600px;
	margin-left:-340px;
}

.modal.xlarge, .reveal-modal.xlarge {
	width:800px;
	margin-left:-440px;
}

.twipsy {
	display:block;
	position:absolute;
	visibility:visible;
	padding:6px 5px 5px;
	z-index:1000;
}

.twipsy.above .twipsy-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #777;
}

.twipsy.left .twipsy-arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #777;
}

.twipsy.below .twipsy-arrow {
	top:1px;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #777;
}

.twipsy.right .twipsy-arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #777;
}

.twipsy .twipsy-inner {
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.25);
	border:2px solid #777;
	padding:4px 10px;
	background-color:white;
	color:#777;
	text-align:center;
	max-width:200px;
	text-decoration:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.twipsy .twipsy-arrow {
	position:absolute;
	width:0;
	height:0;
}

.popover {
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	padding:6px 5px 5px;
	display:none;
}

.popover.above .arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #777;
}

.popover.right .arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #777;
}

.popover.below .arrow {
	top:1px;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #777;
}

.popover.left .arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #777;
}

.popover .arrow {
	position:absolute;
	width:0;
	height:0;
}

.popover .inner {
	background-color:#777;
	*background-color:#777;
	padding:3px;
	overflow:hidden;
	width:280px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.25);
}

.popover .inner .content {
	background-color:white;
	padding:14px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box;
}

.popover .inner .content p, .popover .inner .content ul, .popover .inner .content ol {
	margin-bottom:0;
}

.popover .inner .content.no-padding {
	padding:0;
}

.popover .title {
	background-color:#f5f5f5;
	padding:9px 15px;
	line-height:1;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	border-bottom:1px solid #eee;
}

ul.items {
	list-style:none;
	margin:0;
}

ul.items li {
	border:0;
	padding:1em;
}

ul.items li+li {
	border-top:1px solid #bfbfbf;
}

ul.action-menu li {
	padding:0;
}

ul.action-menu li a {
	display:block;
	width:100%;
	padding:1em;
}

.article-list {
	padding-top:16px;
	padding-left:0;
	padding-right:0;
}

.article-list .alert-message {
	margin:0 18px 18px;
}

.article-list article {
	padding:0 16px 0;
	margin-bottom:16px;
}

.article-list article ~ article {
	padding:16px 16px 0;
	margin-top:0;
	border-top:1px solid #e5e5e5;
}

.article-list article address {
	margin-bottom:9px;
}

.article-list article:last-child {
	margin-bottom:0;
}

.push-up {
	margin-top:21px;
}

.push-down {
	margin-bottom:21px;
}

.push-left {
	margin-left:21px;
}

.push-right {
	margin-right:21px;
}

.pull-up {
	margin-top:-21px;
}

.pull-down {
	margin-bottom:-21px;
}

.pull-left {
	margin-left:-21px;
}

.pull-right {
	margin-right:-21px;
}

.push-up-double {
	margin-top:42px;
}

.push-down-double {
	margin-bottom:42px;
}

.push-left-double {
	margin-left:42px;
}

.push-right-double {
	margin-right:42px;
}

.pull-up-double {
	margin-top:-42px;
}

.pull-down-double {
	margin-bottom:-42px;
}

.pull-left-double {
	margin-left:-42px;
}

.pull-right-double {
	margin-right:-42px;
}

.push-up-half {
	margin-top:10.5px;
}

.push-down-half {
	margin-bottom:10.5px;
}

.push-left-half {
	margin-left:10.5px;
}

.push-right-half {
	margin-right:10.5px;
}

.pull-up-half {
	margin-top:-10.5px;
}

.pull-down-half {
	margin-bottom:-10.5px;
}

.pull-left-half {
	margin-left:-10.5px;
}

.pull-right-half {
	margin-right:-10.5px;
}

.center-text {
	text-align:center;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.ir {
	display:block;
	text-indent:-9999em;
	overflow:hidden;
	background-repeat:no-repeat;
}

.hide {
	display:none!important;
	visibility:hidden;
}

.visually-hide {
	position:absolute!important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px, 1px, 1px, 1px);
}

.invisible {
	visibility:hidden;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:inline-block;
}

.clearfix {
	display:block;
}

#header .container {
	position:relative;
}

.logo-menu {
	float:left;
	height:43px;
}

.logo-menu:hover div {
	display:block;
	opacity:1;
}

.logo-menu div {
	-webkit-transition:opacity .25s linear;
	-moz-transition:opacity .25s linear;
	transition:opacity .25s linear;
	opacity:0;
	display:none;
	position:relative;
	height:60px;
	top:43px;
}

.logo-menu div .arrow {
	position:absolute;
	top:5px;
	left:50%;
	margin-left:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #222;
	height:0;
	width:0;
}

.logo-menu div ul {
	background-color:#222;
	position:absolute;
	top:10px;
	padding:0;
	margin:0 0 0 -70px;
	left:50%;
	list-style:none;
	width:140px;
}

.logo-menu div ul li {
	border-bottom:1px solid #676767;
}

.logo-menu div ul li:last-of-type {
	border-bottom:0;
}

.logo-menu div ul li a {
	background-color:transparent;
	font-weight:normal;
	padding:13px 20px 11px;
	display:block;
}

.logo-menu div ul li a:hover {
	background-color:rgba(255, 255, 255, 0.1);
	*background-color:#333;
	color:white;
}

.logo-menu div ul li.active a {
	background-color:rgba(255, 255, 255, 0.1);
	font-weight:bold;
}

.oauth-twitter {
	background:url("/img/signin-twitter.png");
	width:150px;
	height:22px;
	text-indent:-9999em;
	display:block;
	margin:0 0 1em 0;
}

.oauth-twitter:hover {
	background-position:0 -24px;
}

.oauth-twitter:active {
	background-position:0 -48px;
}

#geoloqi-logo {
	display:inline-block;
	width:118px;
	height:0;
	background:url("/img/geoloqi-logo.png?2") no-repeat 8px center;
	float:left;
	margin:0;
	padding:43px 8px 0;
	overflow:hidden;
	text-align:right;
}

#geoloqi-logo:after {
	margin-top:-22px;
	text-indent:9999px;
}

.column-sort {
	font-size:.9em;
	margin-top:14px;
}

div.map, img.map {
	background:#ebe7db;
	border:5px solid #fff;
	-moz-box-shadow:1px 0 1px #e2e2e2, -1px 0 1px #e2e2e2, 0 2px 3px #e2e2e2, 0 -1px 1px #e2e2e2;
	-webkit-box-shadow:1px 0 1px #e2e2e2, -1px 0 1px #e2e2e2, 0 2px 3px #e2e2e2, 0 -1px 1px #e2e2e2;
	box-shadow:1px 0 1px #e2e2e2, -1px 0 1px #e2e2e2, 0 2px 3px #e2e2e2, 0 -1px 1px #e2e2e2;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

html.ie8 img.map, html.ie8 div.map, html.ie7 img.map, html.ie7 div.map {
	border-color:#ebebeb;
}

#facebook-share-button {
	width:24px;
	height:24px;
	background:url("/img/map-icons.png?1") no-repeat -201px -24px;
	margin:0 0 5px 0;
	padding:0;
	box-shadow:none;
	text-indent:-9999em;
	border:0;
	float:left;
	clear:left;
	display:block;
}

#facebook-share-button:hover {
	background:url("/img/map-icons.png?1") no-repeat -177px -24px;
}

#facebook-share-button.active {
	background:url("/img/map-icons.png?1") no-repeat -153px -24px;
}

#twitter-share-button {
	width:24px;
	height:24px;
	background:url("/img/map-icons.png?1") no-repeat -201px top;
	margin:0;
	padding:0;
	box-shadow:none;
	text-indent:-9999em;
	border:0;
	margin:0 0 5px .5em;
	float:left;
	display:block;
}

#twitter-share-button:hover {
	background-position:-177px top;
}

#twitter-share-button.active {
	background-position:-153px top;
}

#android-market {
	width:220px;
	height:76px;
	background:url("/img/android-market.png") no-repeat 0 0;
	display:block;
	text-indent:-9999em;
	margin:0 auto 18px;
}

#app-store {
	width:220px;
	height:76px;
	background:url("/img/app-store.png") no-repeat 0 0;
	display:block;
	text-indent:-9999em;
	margin:0 auto 18px;
}

.app-stores {
	max-width:520px;
	width:100%;
	margin:0 auto;
}

.app-stores #android-market, .app-stores #app-store {
	margin:10px 10px 0;
}

#header-profile-image {
	margin:-3px 8px 0 0;
}

#copyright {
	line-height:14px;
	margin:4px 0 0;
}

form .name-place-field {
	margin-bottom:0;
	margin-top:-2px;
}

.connection {
	background:url("/img/connections-bg.png") no-repeat;
	width:195px;
	height:20px;
	padding:61px 0 4px 0;
	float:left;
	font-size:11px;
	color:#fff;
	text-align:center;
	position:relative;
}

.connection a:link, .connection .connection a:visited {
	color:#fff;
}

.connection .close {
	font-weight:700;
	padding:2px 4px 0 0;
	font-family:Arial, sans-serif;
	font-size:17px;
}

.connection span {
	text-align:left;
	display:block;
	float:left;
	padding:0 0 0 5px;
}

#twitter-connect {
	background-position:-195px 0;
	margin:0 10px;
}

#facebook-connect {
	background-position:0 0;
}

#foursquare-connect {
	background-position:-390px 0;
}

.activity #start-trip-form textarea {
	width:596px;
}

.story .content-wrapper {
	float:right;
	width:560px;
}

.story.has-actions .content-wrapper {
	width:488px;
}

.story header {
	line-height:1.5em;
	margin:0 0 .5em 48px;
}

.story .item-actions {
	float:right;
}

.story .story-content {
	background:#f2f2f2;
	padding:1em;
	margin:0 0 1em 0;
	border:1px solid #e5e5e5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 1px #e2e2e2, ;
	-webkit-box-shadow:0 1px 1px #e2e2e2;
	box-shadow:0 1px 1px #e2e2e2;
}

.story .story-content p {
	margin:0;
}

.story footer {
	clear:both;
	padding:0;
	margin:.5em 0 0 0;
	border:0;
}

#last-seen header {
	margin:0 0 1em 42px;
}

#last-seen header {
	width:174px;
}

#last-seen header h4 {
	line-height:1em;
}

.profile-header h1 {
	font-size:18px;
	line-height:1em;
	margin-bottom:4px;
}

.profile-header div {
	float:left;
	width:522px;
	margin:0 0 1em 8px;
}

.geoloqi-subscribe-layer {
	margin-top:10px;
}

#load-more {
	position:relative;
	left:273px;
	margin:5px 0;
	display:block;
}

#load-more .loader {
	position:absolute;
	left:-32px;
	margin-top:-6px;
}

.hide-on-large {
	display:none!important;
}

select, input[type=file] {
	height:25px;
	line-height:25px;
}

form .submit input {
	float:left;
}

.oauth .actions {
	padding-left:18px;
}

.center {
	margin:0 auto!important;
}

.map>.alert-message {
	position:absolute;
	width:70%;
	left:0;
	top:0;
	z-index:25;
	margin:0 15%;
	opacity:.0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

input[type="search"] {
	-webkit-border-radius:15px;
	-mox-border-radius:15px;
	border-radius:15px;
	padding:1px 10px 1px;
	background-image:url("/img/search-icon.png");
	background-position:96% 59%;
	background-repeat:no-repeat;
}

.bar ul.nav.logo-nav {
	margin-left:12px;
}

@media only screen and (max-width:960px) {
	#header .nav {
	display:none;
}

#header .secondary-nav, #header .logo-nav {
	display:block;
}

#header .logo-nav {
	margin-left:0;
}

.container {
	width:100%!important;
}

#main {
	padding-top:40px;
	padding-bottom:0;
}

.alert-message {
	position:relative;
	z-index:1;
	margin-bottom:0;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	width:100%;
	border:0;
}

.hide-on-small {
	display:none!important;
	visibility:hidden;
}

.block-on-small {
	display:block;
}

.hide-on-large {
	display:block!important;
	visibility:visible;
}

.inline-on-small {
	display:inline;
	visibility:visible;
}

}@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {
	.background-size #geoloqi-logo {
	background-image:url("/img/geoloqi-logox2.png");
	background-size:103px auto;
}

}.appcelerator-eula {
	margin:2px 0 0 20px;
	font-size:.75em;
	width:180px;
	line-height:1.5em;
}
/*********************************************/
.MainAction_call {
clear: both;
background:#fff;
text-align: center;
width:960px;
border: #EEE solid 1px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
margin: 10px auto;
}
.MainAction_call p {
font: italic 24px/120% Georgia, "Times New Roman", Times, serif;
color: #777;
float: left;
padding:20px 10px 0 10px;
}
.SevenColumns {
width: 56.75%;
float: left;
}
.FiveColumns {
width: 39.45%;
display: block;
padding: 0 0 15px 10px;
float: left;
}
a.MainSignup_button  {
margin-right: 30px;
-moz-box-shadow: inset 0px 1px 0px 0px #00A3D3;
-webkit-box-shadow: inset 0px 1px 0px 0px #00A3D3;
box-shadow: inset 0px 1px 0px 0px #00A3D3;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00A3D3), color-stop(1, #006699) );
background: -moz-linear-gradient( center top, #00A3D3 5%, #006699 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3D3', endColorstr='#006699');
background-color: #006699;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #006699;
display: inline-block;
color: white;
font: bold 19px Arial, Helvetica, sans-serif;
padding: 10px 24px;
text-decoration: none;
text-shadow: 1px 1px 0px #4F3513;
}
a.MainSignup_button:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00A3D3) );
background:-moz-linear-gradient( center top, #006699 5%, #00A3D3 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00A3D3');
}
a.MainSignup_button:visited, a.MainSignup_button:hover {
color: white;
}
.LearnMore_home {
color: #6DB4D3;
font-size: 20px;
padding-left: 10px;
}
div#inner-details{margin:20px auto;}
.PricingMenu {
position: relative;
width: 282px;
float: left;
text-align: center;
margin: 60px 0 60px 40px;
}

.PricingMenu_last {
position: relative;
width: 282px;
float: left;
text-align: center;
margin: 60px 0 60px 0px;
}

.best_value{
	background: url(../images/best_value.png) no-repeat;
	position: absolute;
	width: 88px;
	height: 87px;
	right: -5px;
	top: -8px;
}
.PricingHeader h3 {
color: #EEE;
padding: 5px 0;
font-size: 25px;
border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
-moz-border-radius:10px 10px 0 0;
border-top: #00A3D3 solid 1px;
margin-bottom: 0;
letter-spacing: 0;
-moz-box-shadow: inset 0px 1px 0px 0px #51c1d3;
-webkit-box-shadow: inset 0px 1px 0px 0px #51c1d3;
box-shadow: inset 0px 1px 0px 0px #51c1d3;
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00A3D3), color-stop(1, #006699) );
background: -moz-linear-gradient( center top, #00A3D3 5%, #006699 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A3D3', endColorstr='#006699');
background-color: #006699;
}
.Amount {
background: url(../images/Amount_bg.jpg) repeat-x;
font:35px Arial;
font-weight: bold;
color: #006699;
border-left: #00A3D3 solid 1px;
border-right: #00A3D3 solid 1px;
text-shadow: 0 -1px rgba(0, 0, 0, .8);
padding: 18px;
}
.PricingMenu_BestValue .Amount{
	padding: 30px 15px;
}
.PricingList {
border-left: #00A3D3 solid 1px;
/*border-right: #00A3D3 solid 1px;*/
border-bottom: #00A3D3 solid 1px;
margin: 0 0 0 0;
background: #f6f6f6;
padding: 20px 20px;
}
.PricingList_BestValue{
border-left: #00A3D3 solid 1px;
border-right: #00A3D3 solid 1px;
border-bottom: #00A3D3 solid 1px;
margin: 0 0 0 0;
background: #f6f6f6;
padding: 20px 20px;	
}
.PricingList li, .PricingList_last li, .PricingList_BestValue li  {
padding: 10px 0 10px 30px;
list-style: none;
text-align: left;
font: 14px Arial;
text-shadow: 0 1px rgba(255, 255, 255, .8);
border-bottom: 1px solid #ccc;
border-top:1px solid #fff;
background: url(../images/list_img.gif) left no-repeat;
}
.PricingList li:first-child, .PricingList_last li:first-child, .PricingList_BestValue li:first-child {
	border-top:none;
}
.PricingList li:last-child, .PricingList_last li:last-child, .PricingList_BestValue li:last-child {
	border-bottom:none;
}
.PricingList_last {
border-right: #00A3D3 solid 1px;
border-bottom: #00A3D3 solid 1px;
margin: 0 0 0 0;
background: #f6f6f6;
padding: 20px 20px;
}
.PricingMenu_BestValue {
border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
-moz-border-radius:10px 10px 0 0;
position: relative;
z-index: 99;
width: 282px;
float: left;
text-align: center;
margin: 50px 0 60px 0;
-moz-box-shadow: 0 0 5px #222;
-webkit-box-shadow: 0 0 5px #222;
box-shadow: 0 0 8px #222;
}
.Amount_BestValue {
font: 37px Arial;
font-weight: bold;
color: white;
background: #eee;
padding: 30px 15px 30px 15px;
}
.pricing_header{
	font: 71px Helvetica, sans-serif;
	letter-spacing: -7px;
	color: #555;
	padding: 40px 0 20px 0;
	letter-spacing: -1px;
	border-bottom: #EEE 1px solid;
	margin-bottom: 20px;
	color: #666;
}
/** Borrowed Header */
header {
	height:30px;
	background-color: #51c1d3;
	border-bottom: 1px solid #FFF9B1;
	color:#FFFFFF;
	padding:0;
	margin:0;
	width:100%;
	
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	box-shadow: 1px 1px 1px #CCC;
}

header a {
	color:#FFFFFF !important;
	text-decoration:none;
	display:inline-block;
	height:30px;
	padding: 0px 10px 0px 10px;
}

header a:hover {
	background-color:#EEE;
	color:#000000 !important;
	text-decoration:none;
}

header ul#header_nav_left a:hover {
	background-color:transparent;
	color:#FFFFFF !important;
}

header img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
}

header img {
	border: 0;
	vertical-align:middle;
	margin:0;
}

header ul#header_nav_left {
	padding:0 100px;
	margin:0;
}

header ul#header_nav_left li {
	list-style-type: none;
	display: inline;
}

header ul#header_nav_right {
	padding:0 100px;
	margin:0;
}

header ul#header_nav_right li {
	list-style-type: none;
}

header nav li.header_nav_user a {
	padding: 4px 5px 0 5px;
	height: 26px;
	display: block;
}

header nav li.header_nav_has_dropdown a span.header_nav_icon {
	float: right;
	width: 14px;
	height: 14px;
	background-position: center -24px;
	margin: 11px 5px 0;
}

header nav li ul.header_nav_dropdown {
	display: inline-block;
	position:absolute;
	z-index: 10;
	right: 100px;
	text-align: left;
	border: 1px solid #FFFFFF;
	border-top: 0px;
	background: #999;
	padding: 5px 0;
	float:right;
	top:30px;
	
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	box-shadow: 1px 1px 1px #CCC;
}

header .header_nav_user {
	float:right;
	clear:right;
}

hgroup h1 {
	font-size:100%;
	font-weight:normal
	margin:0;
	padding:0;
}

header .left_bar, header .right_bar {
	float: left;
	height: 30px;
	background-color:red;
}

header .center {
	float: left;
	margin: 0;
}

header hgroup {
	float: left;
	height: 30px;
	margin:0;
	padding:0;
}

header .logo {
	vertical-align:middle;
}

header .logo a {
	display: block;
	width: 25px;
	height: 25px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	padding-right: 5px;
	margin: 0px 15px;
}

header .logo a:hover {
	opacity: 0.7;
	background-color: transparent;
}

header .nodisplay, .label {
	display: none;
}

header label {
	display: block;
	font-weight: bold;
	padding: 5px 0px 0px 15px;
}

header input {
	display: block;
	margin: 0px 15px;
}

header input.header_nav_login_btn {
	margin-top: 8px;
}

header .bignext {
	font-size:20px;
}

body {
	margin:0;
	padding:0;
}

form#header_nav_userforgot_form {
	display:none;
}