body{
	margin:0;
	font:12px/16px "Trebuchet MS",sans-serif;
	color:#555;
	min-width:960px;
	padding:0;
}
form{
	margin:0;
	padding:0;
}
.holder{
	width:960px;
	margin:0 auto;
}
h1, h2 ,h3, h4{margin:0;}
h1{
	padding:16px 0 0 2px;
	color:#000;
	font:28px/30px Georgia, "Times New Roman", Times, serif;
}
h2{
	padding:12px 18px 0;
	font-size:20px;
	height:28px;
	font-weight:normal;
	color:#9b0000;
	border:1px solid #fff;
	background:#f2f7fa;
}
h2 span{
	padding:0 15px 0 0;
	font-size:14px;
	line-height:14px;
}
h2 a{
	font-size:14px;
	line-height:16px;
	color:#00699b;
	padding:0 10px 0;
}
h2 a.active{
	font-size:18px;
	font-weight: bold;
	padding-right:5px;
}
h2 span a, h2 span a:visited{
	font-size:12px;
	padding:0;
	color:#666;
}	
h3{
	padding:0 12px;
	font-size:18px;
	line-height:20px;
	color:#00699b;
}
h4 sup a{
	font-size: 11px;
}
a { color:#00699b;}
a:hover{ text-decoration:none;}
.none-separator { background:none !important;}
/*-- header --*/
#header{
	width:100%;
	clear:both;
	overflow:hidden;
}
/*-- top --*/
.top {
	width:100%;
	overflow:hidden;
	clear:both;
	height:37px;
}
.top strong{
	padding:13px 0 0;
	font-size:12px;
	color:#fff;
	float:left;
}
.top ul{
	margin:0;
	padding:9px 7px 0 0;
	float:right;
}
.top ul li {
	font-size:12px;
	color:#fff;
	padding:0 3px 0 10px;
	background:url(../../img/admin/top-separator.gif) no-repeat 0 8px;
	display:inline;
	list-style:none;
}
.top ul li.none-separator { padding-left:0;}
.top ul li a{
	color:#ffa9a9;
}
.top span {
	color:#C90000;
	background-color:#FFE8E7;
	padding:0 4px 0 4px;
}
/*-- info-nav --*/
.info-nav {
	margin:16px 7px 0 0;
	display:inline;
	float:right;
}
.info-nav h3{
	font-weight:normal;
	font-size:12px;
	color:#7b7b7b;
	padding:0;
	line-height:19px;
}
.info-nav ul{
	margin:0;
	padding:6px 0 9px;
	border-top:1px solid #898989;
	border-bottom:1px solid #898989;
	clear:both;
	float:left;
	line-height:25px;
}
.info-nav ul li{
	padding:0 7px 0 10px;
	display:inline;
	list-style:none;
}
.info-nav ul li a{
	color:#a20000;
}
.info-nav .info-search{
	margin:0;
	padding:6px 0 9px 20px;
	border-top:1px solid #898989;
	border-bottom:1px solid #898989;
	float:left;
	line-height:25px;
}
.info-nav .info-search a{
	padding:2px 5px;
	color:#5c5c5c;
	background:#f2f7fa;
	text-decoration:none;
	border:1px solid #d1d1d1;
	vertical-align: middle;
	line-height:23px;
}
.info-nav .info-search .info-keyword{
	vertical-align: middle;
	width:100px;
}

.info-buttons { clear:both; margin:10px 0 0 0; text-align:right; }

/*-- nav-holder --*/
.nav-holder {
	padding:18px 0 0;
	width:100%;
	clear:both;
	overflow:hidden;
}

/*-- main-nav --*/
ul.main-nav{
	margin:0;
	padding:0;
	float:left;
}
ul.main-nav li{
	padding:0 5px 0 0;
	list-style:none;
	float:left;
}
ul.main-nav li a{
	height:25px;
	float:left;
	padding:12px 15px 0;
	font-size:17px;
	color:#555;
	text-decoration:none;
}

ul.main-nav li a:hover{background:#f5f5f5;}
ul.main-nav li a.active{ background:#eee !important;}
ul.sub-nav {
	margin:0;
	padding:13px 2px 0 0;
	float:right;
}
/*-- sub-nav --*/
ul.sub-nav  li{
	padding:0 5px 0 7px;
	display:inline;
	list-style:none;
}
ul.sub-nav  li a{
	text-decoration:none;
	font-size:14px;
	color:#898989;
}
ul.sub-nav  li a:hover{ text-decoration:underline;}

/*-- content --*/
#content{
	background:url(../../img/admin/content-bg.gif) repeat-x;
	width:940px;
	padding:10px 10px 0;
	overflow:hidden;
	clear:both;
}
.bg{
	width:940px;
	background:#fff;
	clear:both;
	overflow:hidden;
	padding-bottom:29px;
}
/*-- column --*/
.column{
	padding:0 10px 0 18px;
	width:442px;
	float:left;
}
/*-- box --*/
.box {
	margin:20px 0 0;
	padding:0 0 20px;
	border:4px solid #f5f5f5;
	clear:both;
	overflow:hidden;
}
.box h3{
	padding-top:9px;
	float:left;
}
ul.inf {
	margin:0;
	padding:11px 0 0;
	float:right;
}
ul.inf li{
	background:url(../../img/admin/separator.gif) no-repeat 0 4px;
	padding:0 7px 0 5px;
	color:#898989;
	float:left;
	list-style:none;
}
ul.inf li a{
	margin:0 0 0 5px;
}
.box img{
	clear:both;
	padding:18px 0 0 12px;
	display:block;
}
.graph-holder{
	width:410px;
	height:315px;
	margin:35px 0 0 10px;
}
/*-- info-container --*/
.info-container {
	margin:20px 0 0;
	width:100%;
	clear:both;
	overflow:hidden;
}
.i-c-head {
	background:#f2f7fa;
	width:100%;
	clear:both;
	overflow:hidden;
	margin:0 0 -10px;
}
.info-container h3{
	float:left;
	padding:6px 15px 8px;
	color:#555;
}
.info-container .i-c-head ul{
	float:right;
	margin:0;
	padding:11px 4px 0 0;
}
.info-container .i-c-head ul li{
	padding:0 10px 0 12px;
	background:url(../../img/admin/separator.gif) no-repeat 0 3px;
	float:left;
	list-style:none;
}
.info-container .i-c-head ul li a.rss-icon{
	margin:3px 0 0;
	display:block;
	width:12px;
	height:12px;
	text-indent:-3000px;
	background:url(../../img/admin/icon-rss.gif) no-repeat;
	overflow:hidden;
}
.post {
	/* border-bottom:2px solid #ddd; */
	margin:10px 0 0 14px;
	padding:0 0 7px;
	width:419px;
	clear:both;
	overflow:hidden;
}
.post-edit-log-blue{
	padding:3px;
	background-color:#F2F7FA;
	border:1px solid #A8CADE;
}
.post-edit-log-gray{
	padding:3px;
	background-color:#eee;
	border:1px solid #ccc;
}
.post-edit-log-red a, .post-edit-log-gray a{
	color:#666;
}
.post-edit-log{
	display:none;
	padding:5px;
}
.post-trans-new{
	margin:5px 0 2px 20px;
	font-size:80%;
}
.post-trans-new a, .post-trans-new a:visited{
	color:#666;
}
.post-trans{
	margin:5px 0 0 20px;
	padding:2px;
	font-size:90%;
	background-color:#eee;
	border:1px dotted #666;
}
ul.post-info {
	display:inline;
	margin:9px 0 0 12px;
	padding:1px 3px 4px 8px;
	border:1px solid #ddd;
	float:right;
	width:67px;
}
ul.post-info li{
	width:67px;
	float:left;
	padding:2px 0 1px 0;
	font-size:10px;
	border-bottom:1px solid #ddd;
	list-style:none;
}
ul.post-info li.last{ border:none;}
ul.post-info li a{
	width:65px;
	height:1%;
	display:block;
	color:#555;
	text-decoration:none;
}
ul.post-timeline {
	list-style-type:none;
    display: inline;
    float: right;
    margin: 9px 0 0 12px;
    padding: 1px 3px 4px 8px;
    width: 30px;
}
ul.post-info li a.ok{ background:url(../../img/admin/icon-ok.gif) no-repeat 100% 3px;}
ul.post-info li a.none{ background:url(../../img/admin/icon-none.gif) no-repeat 100% 3px;}
ul.post-info li a.mail{ background:url(../../img/admin/icon-mail.gif) no-repeat 100% 3px;}
ul.post-info li a.phone{ background:url(../../img/admin/icon-phone.gif) no-repeat 100% 2px;}
ul.post-info li a.sms{ background:url(../../img/admin/icon-phone.gif) no-repeat 100% 2px;}
ul.post-info li a.twitter{ background:url(../../img/admin/icon-twitter.gif) no-repeat 100% 2px;}
.post  h4{
	padding:9px 0 0;
	font-weight:normal;
	font-size:12px;
}
.post  h4 strong{
	padding:0 5px 0 0;
	font-weight:bold;
	font-size:10px;
	color:#9b0000;
}
.post p{
	margin:0;
	padding:2px 0 4px;
}
a.view-all {
	margin:10px 8px 0 0;
	display:inline;
	float:right;
}
/*-- column-1 --*/
.column-1{
	padding:0 18px 0 10px;
	float:right;
	width:442px;
}
ul.nav-list {
	width:395px;
	margin:0;
	padding:0 0 21px 20px;
	clear:both;
	overflow:hidden;
}
ul.nav-list li{
	padding:18px 0 19px;
	background:url(../../img/admin/dots.gif) repeat-x 0 100%;
	float:left;
	width:395px;
	list-style:none;
}
ul.nav-list li a{
	padding:0 0 5px 40px;
	float:left;
	font-size:18px;
	line-height:20px;
	color:#9b0000;
}
ul.nav-list li a.reports {background:url(../../img/admin/report-icon.gif) no-repeat 0 0;}
ul.nav-list li a.categories { background:url(../../img/admin/category-icon.gif) no-repeat 0 5px;}
ul.nav-list li a.locations { background:url(../../img/admin/locations-icon.gif) no-repeat 0 2px;}
ul.nav-list li a.media { background:url(../../img/admin/media-icon.gif) no-repeat 0 2px;}
ul.nav-list li a.messages { background:url(../../img/admin/messages-icon.gif) no-repeat 0 2px;}
ul.nav-list li a.alerts { background:url(../../img/admin/alerts-icon.png) no-repeat 0 2px;}
ul.nav-list li a.votes { background:url(../../img/admin/votes-icon.png) no-repeat 0 2px;}
ul.nav-list li a.checkins { background:url(../../img/admin/checkins-icon.png) no-repeat 0 2px;}
ul.nav-list li span.locations {
	background:url(../../img/admin/locations-icon.gif) no-repeat 0 2px;
	padding:0 0 5px 40px;
	float:left;
	font-size:18px;
	line-height:20px;
	color:#9b0000;
}
ul.nav-list li strong{
	float:right;
	font-weight:normal;
	line-height:22px;
	font-size:20px;
	color:#555;
}
ul.nav-list li ul{
	height:1%;
	clear:both;
	overflow:hidden;
	margin:0;
	padding:6px 0 0;
}
ul.nav-list li li{
	width:334px;
	padding:4px 0 0 61px;
	background:none;
}
ul.nav-list li li a{
	padding:0;
	text-decoration:none;
	color:#cb0000;
	font-size:16px;
	line-height:20px;
}
ul.nav-list li li strong{
	font-size:16px;
	color:#898989;
	line-height:18px;
}
.post em.date{
	font-size:10px;
	color:#9b0000;
}
/*-- footer --*/
#footer{
	/*background: url("../../img/admin/footer-bg.jpg") repeat-x scroll 0 -50px #202020;*/
	background-color: #51c1d3;
	border-top:4px solid #fff9b1;
	border-bottom:4px solid #fff9b1;
	/*height:100px;*/
	padding: 10px 0;
	text-align: center;
	width:100%;
	overflow:hidden;
	color: #FFF;
	clear:both;
}
#footer strong{ display:block;}
#footer a{
        
	/*margin:34px 0 0 60px;*/
	background:url() no-repeat;
	width:257px;
	height:39px;
	/*display:block;*/
	overflow:hidden;
	text-indent:-3000px;
    text-align : right;
    text-decoration : none;

}

#footer sup {
    color : #231f20;
}

/*------------------- inner ---------------------*/
/*-- tabs --*/
.tabs {
	margin:19px 20px 0;
	width:900px;
	clear:both;
	overflow:hidden;
}
/*-- tabset --*/
ul.tabset{
	width:100%;
	clear:both;
	overflow:hidden;
	margin:0;
	padding:0;
}
ul.tabset li{
	padding:0 1px 0 0;
	float:left;
	list-style:none;
}
ul.tabset li a{
	text-decoration:none;
	height:25px;
	font-weight:bold;
	padding:5px 15px 0;
	line-height:20px;
	float:left;
	color:#999;
	font-size:16px;
}
ul.tabset li a.active{
	color:#636363;
	background:#eee !important;
}
ul.tabset li a.active2{
	color:#fff;
	background:#C0C0C0 !important;
}
ul.tabset li a:hover{
	color:#636363;
	background:#f5f5f5;
}
/*-- tabs --*/
.tab{
	background:#eee;
	width:100%;
	clear:both;
	padding:0 0 8px;
	overflow:hidden;
}
.tab ul{
	margin:0;
	padding:9px 10px 0;
	clear:both;
	overflow:hidden;
}
.tab ul li{
	padding:0 6px;
	float:left;
	list-style:none;
}
.tab ul li a{
	padding:0 9px;
	color:#5c5c5c;
	background:#f2f7fa;
	float:left;
	line-height:24px;
	text-decoration:none;
	border:1px solid #d1d1d1;
}
.tab ul li a:hover{ text-decoration:underline;}
.tab .tab_form_item{
	float:left;
	margin:10px 10px 0 10px;
}
.tab .tab_form_item2{
	margin:10px 10px 0 10px;
}
/*-- tabs --*/
/*-- btns --*/
.btns ul{
	margin:0;
	padding:9px 10px 0;
	clear:both;
	overflow:hidden;
}
.btns ul li{
	padding:0 4px;
	float:left;
	list-style:none;
}
.btns ul li a{
	padding:0 9px;
	color:#5c5c5c;
	background:#f2f7fa;
	float:left;
	line-height:24px;
	text-decoration:none;
	border:1px solid #d1d1d1;
}
.btns ul li a.btns_red{
	background:#FFE9EC;
}
.btns ul li a.btns_gray{
	background:#eee;
}
.btns ul li a:hover{ text-decoration:underline;}
/*-- btns --*/

.green-box {
	margin:15px 21px 0 22px;
	padding:9px 0 8px;
	background:#d8f1d8;
	border:2px solid #a7d1a7;
	width:893px;
	clear:both;
	overflow:hidden;
}
.red-box {
	margin:15px 21px 0 22px;
	padding:9px 0 8px;
	background:#FFD8D9;
	border:2px solid #990000;
	width:893px;
	clear:both;
	overflow:hidden;
}
.green-box h3, .red-box h3{
	padding:0 0 0 15px; 
	font-size:14px;
	color:#555;
}
a.hide {
	font-weight:normal;
	font-size:11px;
	color:#b75f5f;
	padding:0 0 0 43px;
	background:url(../../img/admin/separator-1.gif) no-repeat 17px 3px;
}
table{
	margin:0;
	padding:0;
	width:100%;
	border-collapse:collapse;
}
table td{
	margin:0;
	padding:0;
	text-align:left;
	vertical-align:top;
}
/*-- report-table --*/
.table-holder {
	clear:both;
	overflow:hidden;
	margin:11px 20px 0;
	padding:1px 1px 1px;
	width:900px;
}
.table td{
	padding:12px 0 10px;
	border-bottom:2px solid #ddd;
}
.table tfoot td {
	border-right:2px solid #bbb;
	border-left:2px solid #bbb;
	border-bottom:2px solid #bbb;
}
.table th{
	height:30px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	background:#bbb;
	margin:0;
	padding:0;
	text-align:left;
}
.table th.col-4{ text-align:right;}
.table .col-1{
	border-left:2px solid #bbb;
	padding:12px 0 10px 10px;
	width:25px;
}
.table .col-2{ width:539px;}
.table .col-2_sub{
	width:519px;
	padding-left:30px;
	background:url(../../img/admin/arrow.gif) no-repeat 13px 22px;
}
.table .col-3{
	width:103px;
}
.table td.col-3 {
	font-size:12px;
	font-weight:bold;
	color:#555;
}
.table .col-4{
	border-right:2px solid #bbb;
	padding:12px 18px 10px 0;
	width:200px;
}
.table .col{
	border-left:2px solid #bbb;
	padding:12px 0 10px 10px;
	border-right:2px solid #bbb;
}
.table .col-drag{
	background-color:#ffffcc;
}
.table .col-show-handle{
	background-image: url(../../img/admin/drag.gif);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
}
.table .post{
	margin:0;
	padding:0 0 8px;
	width:492px;
}
.table .post h4{
	padding:2px 0 0;
	margin:0;
	color:#00699b;
	font-weight:bold;
	font-size:12px;
}
.table .post p{
	line-height:15px;
	margin:0;
	padding:3px 20px 0 0;
}
.table th {
	padding-top:0 !important;
	padding-bottom:0 !important;
	border:2px solid #bbb !important;
	border-bottom:2px solid #959595 !important;
}
ul.info,
ul.links {
	clear:both;
	overflow:hidden;
	margin:0;
	padding:0 0 1px;
}
ul.info {padding-top:4px;}
ul.info li,
ul.links li{
	line-height:12px;
	font-size:10px;
	color:#636363;
	list-style:none;
	float:left;
}
ul.info li {
	padding:0 9px 0 10px;
	background:url(../../img/admin/separator-2.gif) no-repeat 0 3px;
}
ul.info li.none-separator{ padding-left:0;}
ul.info li strong {
	font-weight:normal;
	color:#9b0000;
}
ul.links li a{
	color:#669eb9;
	text-decoration:none;
	padding:0 0 0 3px;
}
ul.links li a:hover{
	text-decoration:underline;
}
.table .col-4 ul{
	float:right;
	margin:0;
	padding:0;
}
.table .col-4 ul li{
	padding:0 10px 0 12px;
	background:url(../../img/admin/separator.gif) no-repeat 0 4px;
	float:left;
	list-style:none;
}
.table .col-4 ul li a.del{ color:#b75f5f;}
.table td .check-box { margin-top:2px !important;}

/*-- tooltips --*/
.tooltip{
	cursor: help;
	background:url(../../img/tooltip.gif) no-repeat 100% 4px;
	padding-right:10px;
}
a.tooltip{
	text-decoration:none;
	color:#333;
}

/*-- pager --*/
ul.pager {
	margin:0;
	padding:0 0 0 17px;
}
ul.pager li{
	display:inline;
	margin:0 6px 0 0;
	font-size:10px;
	font-weight:bold;
	color:#555;
	border:1px solid #bbb;
	float:left;
	list-style:none;
}
ul.pager li.first {
	padding:0 5px;
}
ul.pager li a{
	text-decoration:none;
	color:#555;
	padding:0 5px;

}
ul.pager li a:hover,
ul.pager li a.active {background:#f2f7fa;}
/*------------------- inner-1 ---------------------*/
/*-- report-form --*/
.report-form,
.head,
.row{
	width:100%;
	clear:both;
	overflow:hidden;
}
.head {
	width:928px;
	padding:19px 12px 4px 0;
}
.head h3{
	padding:0 0 0 20px;
	font-weight:normal;
	font-size:22px;
	line-height:24px;
	float:left;
}
.head h4{
	padding:0 0 0 20px;
	font-weight:bold;
	font-size:16px;
	line-height:18px;
	float:left;
}
	.head h4.version{
		text-decoration:underline;
		color:#37616F;
	}
.report-form input:focus, .report-form textarea:focus
{
	background: #EDF9EE;
}
.report-form input.text, .report-form input.file, .tab_form_item input.text{
	display:inline;
	margin:0;
	padding:2px 5px;
	float:left;
	font:12px/14px Arial, Helvetica, sans-serif;
	border:2px solid #d9d9d9;
}
.report-form input.title {
	width:363px;
	padding:10px 5px;
}
div.custom_div {
	width: 100%;
    padding: 5px;
    border: 1px dotted #C0C2B0;
    margin-bottom: 20px;
}
div.custom_div h2 {
    font-size: 150%;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    background: #E8E8E8;
}
.report-form input.custom_text {
	width:363px;
	margin-bottom: 10px;
}
.report-form textarea{
	width:368px;
	height:260px;
	margin:0;
	padding:4px 0 4px 5px;
	border:2px solid #d9d9d9;
	float:left;
}
.report-form .texthint{
	font-style:italic;
	font-weight:normal;
	color:red;
	background-color:#FFFF99;
}
.sel-holder {
	overflow:hidden;
	border:2px solid #d9d9d9;
	float:left;
}
.sel-holder select{
	margin:-1px -1px;
	float:left;
}
.nofloat, .nofloat select, .nofloat input.text{
	clear:both;
	float:none;
}
.report-form h4{
	font-weight:bold;
	color:#404040;
	font-size:15px;
	line-height:18px;
	padding:16px 0 4px;
}
.report-form h4 span{
	font-weight:normal;
	font-size:10px;
	line-height:12px;
	color:#a1a1a1;
}
div.experimental{
	float:left;
	padding-left:20px;
	font-weight:bold;
	text-transform: uppercase;
}
.welcome-form{
	padding:12px 0px 0px 12px;
}
/*-- f-col --*/
.f-col {
	padding:0 10px 14px 20px;
	width:380px;
	float:left;
}
.f-col-full {
	padding:0 10px 14px 20px;
}
.date-box {
	float:left;
	width:190px;
	padding:0 0 3px;
}
.date-box input.text { width:100px;}
a.calendar {
	text-indent:-3000px;
	overflow:hidden;
	margin:0 0 0 9px;
	display:inline;
	float:left;
	width:22px;
	height:21px;
	background:url(../../img/icon-calendar.gif) no-repeat;
}
.time {
	width:188px;
	float:left;
	padding:0 0 3px;
}
.date-box h4,
.time h4{ padding-top:13px;} 
span.dots {
	width:17px;
	text-align:center;
	float:left;
	color:#404040;
	font-size:18px;
	font-weight:bold;
}
.time input.text {width:24px;}
.time select{width:46px;}
.time .sel-holder {
	display:inline;
}
a.new-cat, a.show-messages {
	text-decoration:underline;
	font-size:10px;
	padding:1px 0 0 18px;
	background:url(../../img/icon-plus.gif) no-repeat 0 4px;
	float:right;
}
a.new-cat:hover, a.show-messages:hover;{ text-decoration:none;}
.category {
	background:#f5f5f5;
	width:377px;
	clear:both;
	overflow:hidden;
	padding:0 0 18px;
}
.category ul{
	width:167px;
	float:left;
	margin:0;
	padding:11px 0 0;
}
.category ul li{
	padding:0 0 7px 18px;
	width:149px;
	float:left;
	overflow:hidden;
	list-style:none;
}
.category ul li label{
	color:#555;
	font-size:11px;
}
/*Categories Tree*/
.category ul ul { width: auto; float: none; }
.category ul li.sub_category { padding-left: 47px; }
.category ul li.sub_category_last { background-position: 16px -1766px; }
.category ul li input.check-box { margin: 0 3px 0 0; }
.category ul li.hover,
.category ul li li:hover { background-color: #efefef; }
ul.treeview li.lastCollapsable,
ul.treeview li.lastExpandable { width:155px; }

.check-box {
	margin:0;
	padding:0;
	width:15px;
	height:15px;
	float:left;
}
.category ul li label span{
	padding:0 0 0 5px;
	float:left;
}
.category_add {
	background:#f5f5f5;
	width:377px;
	clear:both;
	overflow:hidden;
	padding:0 0 18px;
	display: none;
}
#show_messages{
	display: none;
	font-size:10px;
	color:#666;
	margin-bottom:5px;
}
#show_messages .message{
	padding:2px 0 2px 0;
	border-bottom:1px dotted #ccc;
}
.translation{
	clear:both;
	margin:10px 0 10px 20px;
	background-color:#CBDACF;
	padding:10px;
	width:400px;
}
.translation h4{
	margin:0 0 3px 0;
	padding:0;
}
/*-- f-col --*/
.f-col-1 {
	padding:0 14px 14px 10px;
	width:506px;
	float:left;
}
.incident-location {
	width:100%;
	clear:both;
	overflow:hidden;
}
.incident-location h4{
	padding-top:15px;
	clear:none;
	float:left;
}
.incident-find-location {
	margin-top:0;
	margin-right:6px;
	padding:0 9px 9px 9px;
	background-color:#eee;
	border:1px solid #ccc;
	border-width:0 1px 1px 1px;
	font-size:90%;
	color:#666;
}
.incident-find-location input.findtext {
	margin-top:9px;
	padding:3px 3px 0 3px;
	height:21px;
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#666;
	width:250px;
	border:1px #ccc solid;
}
.incident-find-loading{
	float:left;
	height:24px;
	margin-top:9px;
}
.location-info {
	padding:11px 0 0;
	width:290px;
	float:right;
}
.location-info span,
.location-info strong{
	float:left;
}
.location-info span {
	padding:3px 5px 0 7px;
	color:#404040;
	font-size:10px;
}
.location-info strong {
	font-weight:normal;
	font-size:10px;
	padding:1px 5px;
	width:74px;
	border:1px solid #c6c5c2;
	color:#b75f5f;
}
.location-info input.text{
	width:70px;
	color:#CC0000;
	background-color:#FFFFCC;
}
.town {
	float:left;
	padding-bottom:8px;
}
.location {
	float:left;
	width:310px;
	padding-bottom:8px;
}
.location select{ width:240px;}
.town h4,
.location h4{ padding-top:13px;}
a.add,
a.rem{
	margin:3px 0 0 5px;
	text-indent:-3000px;
	overflow:hidden;
	width:13px;
	height:13px;
	float:left;
	background:url(../../img/icon-plus.gif) no-repeat;
}
a.rem { background:url(../../img/icon-minus.gif) no-repeat;}
input.short {
	width:50px;
}
input.short2 {
	width:100px;
}
input.short3 {
	width:150px;
}
input.long {
	width:454px;
}
input.long2 {
	width:300px;
}
.second { margin:13px 0 0 !important;}
.link-row h4{ padding-top:11px;}
/*-- f-col-bottom --*/
.f-col-bottom-container {
	clear:both;
	border-top:2px solid #dcdcdc;
	border-bottom:2px solid #dcdcdc;
}
.f-col-bottom {
	overflow:hidden;
	clear:both;
	padding:0 10px 6px 20px;
	width:423px;
	float:left;
}
.f-col-bottom h4, .f-col-bottom-1 h4{
	padding-top:9px;
}
.f-col-bottom  label{
	padding:2px 17px 5px 0;
	float:left;
}
.f-col-bottom  label span, .f-col-bottom-1 label span{
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#636363;
}
.f-col-bottom  label input.text,
.f-col-bottom-1 label input.text{ width:167px;}
.f-col-bottom label input.email,
.f-col-bottom-1 label input.email{ width:362px;}
/*-- f-col-bottom-1 --*/
.f-col-bottom-1 {
	padding:0 14px 14px 20px;
	width:451px;
	float:left;
	background-color:#eee;
	border-left:2px dotted #dcdcdc;
}
.f-col-bottom-1 .row {
	margin-top:10px;
}
.f-col-bottom-1-col{
	font-size:12px;
	font-weight:bold;
	color:#636363;
	float:left;
	width:180px;
}

.report-form .save-rep-btn,
.report-form .save-close-btn,
.report-form .cancel-btn{
	display:inline;
	float:left;
	margin:11px 12px 0 0;
}
.report-form .save-rep-btn { margin-left:20px;}
.report-form .head .save-rep-btn,
.report-form .head .cancel-btn {
	margin:0 9px 0 0;
	display:inline;
	float:right;
}
.report-form .report_thumbs {
	border-bottom:1px #ccc dotted;
	margin:0 0 10px 0;
}
.report-form .report_thumbs img {
	border:1px #ccc solid;
	padding:3px;
}
.status_yes{
	color:#009900;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.status_no{
	color:#990000;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.comment_incident{
	background-color:#eee;
	border-left:3px #ccc solid;
	padding:2px 4px;
}
.comment_incident a, .comment_incident a:visited{
	color:#666;
}

/*-- Extended --*/
.l-column{
	padding: 0 0px 0 20px;
	width: 280px;
	float:left;
}
.r-column{
	padding: 0 30px 0;
	width: 558px;
	float:left;
	border: 1px solid #dadada;
}
p.bold_desc{
	margin-top: 0px;
	font-weight: bold;	
}
.my-sel-holder {
	margin-bottom: 10px;
	overflow:hidden;
	border:2px solid #d9d9d9;
	float:left;
}
.my-sel-holder select{
	margin:-2px -1px;
	float:left;
}
.has_border_first{
	width: 280px;
	margin: 0px 0 10px;
	padding: 0px 0 10px;
	float: left;
	border-bottom:2px solid #d9d9d9;
}
.has_border{
	width: 280px;
	margin: 0px 0 10px;
	padding: 0px 0 10px;
	float: left;
	border-bottom:2px solid #d9d9d9;
}
.has_border h4{margin-top: 0px; padding-top: 0px;}
.map_holder_settings{
	
}
.map_holder_reports{
	width: 494px; 
	height: 350px; 
	float:left; 
	margin:-1px; 
	border:3px solid #c2c2c2;
	position:relative;
}
.mini_map_holder{
	margin: 0 0 20px 20px;	
	float: left;
}
span.bold_span{
	display: block;
	color: #000;	
}
.mapstraction{
	width:550px;
	height:300px;
	border:2px solid #acacac;
}
.mapstraction:hover{
	border-color: #669eb9;
}
span.blue_span{
	color: #1173a2;
}
span.dark_span{
	color: #555555;
}
div.c_push{
	width: 235px;
	margin: 5px 0 5px;
	padding-left: 45px;
	display: block;
	float: left;
}
#retrieve_cities{
	clear:both;
	background-color:#eee;
	color:#333;
	padding:5px;
	margin:10px 15px 10px 0;
}
#retrieve_cities a, #retrieve_cities a:visited{
	color:#333;
}
#cities_loading{
	
}
#city_count{
	margin:5px 0 0 0;
	display:none;
}
div.sms_nav_holder{
	width: 900px;
	margin: 20px 0 0 20px;
	float: left;
}
div.sms_nav_holder a{
	padding: 10px;
	display: block;
	float: left;
	text-decoration: none;	
	color: #a0a0a0;
}
div.sms_nav_holder a:hover{background-color: #f0f0f0;}
div.sms_nav_holder a.active{background-color: #eee; color: #6c6c6c; font-weight: bold;}
div.sms_holder, div.settings_holder{
	width: 860px;
	padding: 15px;
	margin-left: 20px;
	border: 5px solid #f0f0f0;
	float: left;
}
	* html div.sms_holder{
		margin-left: 10px;
	}
	div.theme_holder{
		width:243px;
		margin-right:20px;
		margin-bottom:20px;
		border:1px solid #ccc;
		float:left;
		padding:10px;
	}
		div.theme_screenshot{
			width:240px;
			height:150px;
			border:1px solid #000;
			background-color:#ccc;
			margin-bottom:10px;
		}
		div.theme_select{
			margin-top:10px;
			padding:5px;
			background-color:#eee;
			border:1px solid #ccc;
			font-weight:bold;
		}
		div.theme_select:hover{
			background-color:#FFFFCC;
		}
	div.test_settings{
		margin-bottom:15px;
	}
		div.test_settings #test_loading{
			line-height: 24px;
		}
		div.test_settings #test_status{
			line-height: 24px;
			font-size:16px;
			font-weight:bold;
		}
		

div.simple_border{
	width: 900px;
	height: 3px;
	margin: 20px 0 10px 20px;
	background-color: #f0f0f0;
	display: block;
	float: left;
}
h4.fix{
	padding: 0px;
	margin: 0px;
}
a.no_border img{border: none; text-decoration: none;}
p.sync_key{
	padding: 10px 5px 10px;
	display: inline-block;
	border-width: 3px 0 3px;
	border-color: #969696;
	border-style: solid;
	font-weight: bold;
	background-color: #fffee5;
}
p.sync_key span{
	color: #9b0000;	
}
p.sync_key_2{
	width: 210px;
	padding: 20px;
	display: inline-block;
	border-width: 3px 0 3px;
	border-color: #969696;
	border-style: solid;
	font-weight: bold;
	font-size: 22px;
	color: #9b0000;
	background-color: #fffee5;
}
p.sync_key_3{
	width: 210px;
	padding: 20px;
	display: inline-block;
	border-width: 3px 0 3px;
	border-color: #969696;
	border-style: solid;
	background-color: #fffee5;
}
table.my_table td{padding: 0 0 10px;}
span.big_blue_span{
	padding-top: 7px;
	display: block;
	font-weight: bold;
	color: #00699b;
}
table.data_points{
	width: 580px;
	border-width: 3px 0 3px;
	border-color: #669eb9;
	border-style: solid;
}

	table.data_points td{
		padding: 10px;
		background-color: #f2f7fa;
	}
span.span_cl1{font-size: 15px; color:#4f4f4f; font-weight: bold; display: block; margin-bottom: 5px; text-transform: capitalize;}
span.span_cl4{font-size: 12px; color:#00699b; font-weight: bold; display: block; margin: 10px 0 5px;}
span.span_cl2{font-size: 12px; color:#7d7d7d;}
span.span_cl3{font-size: 12px; color:#9b0000;}
.dark_red{color:#9b0000;}
span.dark_red_span{color:#9b0000; display: block; font-weight: bold; padding:0px; margin: 0px 0 -20px 0;}
span.dark_red_span_2{color:#9b0000; display: block; font-weight: bold; padding:0px; margin: 0px 0 -10px 0;}
div.download_container{
	width: 900px;
	padding: 0 0 100px 0;
	margin: 0 0 10px 20px;
	float: left;
	border-bottom: 2px solid #dcdcdc;
}
div.final_container{
	width: 900px;
	padding: 15px 0 15px 0;
	margin: 0 0px 10px 20px;
	float: left;
	border-bottom: 2px solid #dcdcdc;
}

div.final_l{
	width: 280px;
	float: left;
}

div.final_r{
	width: 580px;
	float: left;
}
table.p_replace{
	width: 250px;
	margin-top: 15px;
	border-width: 3px 0 3px;
	border-color: #969696;
	border-style: solid;
	background-color: #fffee5;
}
table.p_replace td{
	padding: 20px;
}
table.p_replace td.special{
	width: 47px;
	padding: 20px 20px 20px 0;
	background-image:url(../images/bg-td-special.gif);
	background-position: center left;
	background-repeat: no-repeat;
	vertical-align: middle;
	text-align: center;
}

/*-- Messages --*/
.reply{
	display:none;
	margin:5px 0 0 0;
	padding:5px;
	background-color:#eee;
}
#replies{
	margin:0 0 10px 0;
}
.reply_can{
	font-size:11px;
	margin-bottom:3px;
}
.replychars{
	font-size:11px;
	color:#990000;
}
.reply_input{
	float:left;
	top:0;
	margin-right:10px;
}
.reply_error{
	background:#FFD8D9;
	margin:0 0 3px 0;
	padding:2px;
	display:none;
}
.spam_tr {
	background-color:#ffffcc;
}

/*-- Forms --*/
.forms_fields{
	display:none;
	margin:0 20px 15px 20px;
	padding:10px;
	background-color:#eee;
	border-bottom:2px solid #ccc;
}
.forms_fields_add{
	display:none;
	margin:10px 0 0 15px;
}
.forms_fields_new{
	display:none;
	border:1px dashed #ccc;
	padding:10px 10px 0 10px;
	margin-top:5px;
	background-color:#fff;
}
a.new-form_field{
	text-decoration:underline;
	font-size:11px;
	font-weight:bold;
	padding:1px 0 0 18px;
	background:url(../../img/icon-plus.gif) no-repeat 0 2px;
}
.forms_item{
	float:left;
	margin:0 15px 10px 0;
}
.forms_fields_current{
	margin:15px 0 0 0;
	padding:5px 0 0 0;
	border-top:1px solid #ccc;
}
.forms_fields_edit{
	font-size:10px;
	margin:5px 0 0 0;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}
.forms_fields_loading{
	float:left;
	margin-right:15px;
}
.forms_fields_result{
	display:none;
	font-weight:bold;
	background:#d8f1d8;
	border:1px solid #a7d1a7;
	padding:5px;
	margin:0 0 10px 0;
}
.forms_fields_result_error{
	display:none;
	font-weight:bold;
	background:#FFD8D9;
	border:1px solid #990000;
	padding:5px;
	margin:0 0 10px 0;
}
.forms_fields_result ul, .forms_fields_result_error ul{
	margin:0;
	padding:0;
}
.forms_fields_item{
	margin:0 0 20px 0;
}
.forms_fields_item textarea, #custom_forms textarea{
	float:none;
	height:50px;
}
.hide{
	display:none;
}

.required,
.report-form h4 .required {
  color: #CC1830;
  font-size: 15px;
  font-weight: normal;
}

/*-- Color Picker --*/
.jColorSelect {
	overflow:hidden; /* for IE6 */
	border:1px solid #fff;
}
.jColorSelect div{
	background:url(../../img/icon_check.gif) no-repeat;
	float:left;
	width:13px;
	height:13px;
	cursor:pointer;
	overflow:hidden; /* for IE6 */
	border:1px solid #fff;
	margin:1px;
}
.jColorSelect .check {
	background-position:-13px 0;
	cursor:default;
}

/*-- Sharing --*/
.sharing_siteinfo{
	border:1px solid #ccc;
	padding:10px;
	background-color:#ffffcc;
	font-size:95%;
}
.sharing_siteinfo span{
	padding:2px 5px;
	background-color:#fff;
	color:#990000;
	font-weight:bold;
	font-size:110%;
}
.sharing_dispinfo{
	border:1px solid #ccc;
	margin-top:5px;
	padding:1px 5px 4px 5px;
	background-color:#eee;
}
/*-- Admin Map InfoWindow --*/
.infowindow{
	margin:0 15px 0 0;
}
.infowindow h1{
	margin:0;
	padding:0;
	font:16px bold Arial, Helvetica, sans-serif;
}


/*-----Accessible Slider CSS-----*/
.slider_container { background: #fff; margin-right: 5px; position: relative; padding: 15px; float: left; border:1px #ccc solid; width:230px; }
.ui-slider {clear: both; margin-bottom:20px;}
.ui-slider  {
	text-decoration: none !important;
}
.ui-slider .ui-slider-handle  {
	overflow: visible !important;
}
.ui-slider .ui-slider-tooltip {
	display: none;
}
.ui-slider .screenReaderContext {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	left: -999999999px;
}
.ui-slider .ui-state-active .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip, .ui-slider .ui-state-hover .ui-slider-tooltip {
	display: block;
	position: absolute;
	bottom: 2.5em;
	text-align: center;
	padding: .3em .2em .4em;
	font-size: .9em;
	width: 8em;
	margin-left: -3.7em;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	position: absolute; 
	display: block;
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {	
	border-left: 7px dashed transparent; 
	border-right: 7px dashed transparent;
	border-top-width: 8px;
	bottom:	-8px;
	right: auto;
	left: 50%;
	margin-left: -7px;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	border-left: 6px dashed transparent; 
	border-right: 6px dashed transparent;
	border-top: 7px solid #fff;
	bottom:	auto;
	top: -9px;
	left: -6px;
}
.ui-slider a {
	text-decoration: none;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-slider ol, .ui-slider dl {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.ui-slider dt {
	top: 1.5em;
	position: absolute;
	padding-top: .2em;
	text-align: center;
	border-bottom: 1px dotted #ddd;
	height: .7em;
	color: #999;
}
.ui-slider dt span {
	background: #fff;
	padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
	position: absolute;
	overflow: visible;
	color: #666;
}
.ui-slider span.ui-slider-label {
	position: absolute;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	display: block;
}
.ui-slider span.ui-slider-tic {
	position: absolute;
	left: 0;
	height: .8em;
	top: -1.3em;
}
.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
	border-right: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: 0;
	border-bottom: 0;
}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
	display: none;
}


/*-- Form JS Errors --*/
.error{
	color:red;
	font-style: italic;
	width: auto;
	display: block;
}


/*-- Settings Map Tabs --*/
UL.mapNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
}
UL.mapNavigation LI {
    display: inline;
}

UL.mapNavigation LI A {
    padding: 3px 5px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
}

UL.mapNavigation LI A.selected,
UL.mapNavigation LI A:hover {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
}

UL.mapNavigation LI A:focus {
    outline: 0;
}

.upload_container {
    padding : 20px;
}

/* update info */
#update-info {
    line-height: 29px;
    font-size: 12px;
    text-align: center;
    background : #FFFEEB;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
}

#update-info a {
    font-size: 1.1em;
}

/* raphael impact chart */
#impact_chart {
	width: 100%;
	_width: 940px;
	height: 500px;
	overflow: auto;
	clear: left;
}
.impact_hidden {
	display: none;
}
#impact_legend,
#impact_legend2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 1em;
	height: 1em;
	border: solid 1px #000;
	margin-right: .3em;
	line-height: 1;
}
#impact_info, 
#impact_info2 {
	float: left;
	clear: left;
}
#impact_info div,
#impact_info2 div {
	float: left;
}
#impact_placeholder {
	clear: left;
	color: #999;
}

/*--Stats Page--*/

.content-wrap { padding:0 18px; } 
	.content-wrap h3 { float:left; padding:0; }
	.content-wrap .tabs { margin-left:0;}

/*Two column layout */
.two-col { float:left; }
	.tc-left { width:570px; margin:0 10px 0 0;}
	.tc-right { }
	
/* Chart Holders */
.chart-holder { height:300px; }
.reports-charts { width:664px; margin-right:36px; }

/* Time Period Selection*/
#time-period-selector { text-align:right; margin-bottom:18px; }
	input.dp { width:100px; margin:0 10px; font-weight:bold; font-size:10px; color:#5c5c5c;  }
	#time-period-selector a { padding:0 5px; }

/* Stats Summary */
.stats-wrapper { border:1px solid #eee; border-top:2px solid #898989; }
.stats-summary { border-collapse: collapse; }
	.statistic { border-right:1px solid #eee; padding:5px 8px; width:100px; height:50px; float:left;	 }
		 
	.statistic h4 { font-size:14px;  margin:0 0 0px; font-weight:normal; }
	.statistic p { font-size:30px; font-weight:bold; margin:0; line-height:30px; }
	.first { border-left:none; }
	
	/* Stats Sidebar... used on the Reports Statistics & Impact Reports screens */
	.stats-sidebar { width:118px; }
	.stats-sidebar .statistic { border-right:none; border-bottom:1px solid #eee; }


/* ProtoChart Styles */
	/* Reports Pie Chart */
	#protochart_reports { width:600px; }
		#protochart_reports .ProtoChart-legend {}
			#protochart_reports td.legendColorBox {}
			#protochart_reports td.legendLabel {}

	


/*General Graph/Table Styles */

.table-graph { border-collapse: collapse; }

	/* Horizontal Bar Graph */
	.horizontal-bar {  }
	
		.horizontal-bar span { display:block; float:left;  }
		.horizontal-bar td { border-bottom:1px solid #eee; padding:5px; }
		
		.hbItem { width:125px; border-right:1px solid #eee; }
		td.hbDesc { padding-left:0; }	
			.stat-bar { background-color:#09F; margin-right:5px;  }
	
	/* Generic Data Table */
	.generic-data {  }
	
		.generic-data td,
		.generic-data th { border-bottom:1px solid #eee; padding:3px; text-align:left; }
		
		.gdItem { width:175px; border-right:1px solid #eee; }
		.gdDesc { }
		
		/*flag*/
		img.flag { margin-right:3px;}
	
/* Tabs */
.tab-box { display:none; border:3px solid #eee; padding:10px 15px; }
	.active-tab { display:block; }


/*Hover state for various stats*/
.table-graph tr:hover,
.statistic:hover{ background:#FFFFEF; }

.glossary { width:320px; margin:10px 0 0; } 
	.glossary h4 { font-size:12px; font-weight:bold; line-height:16px; color:#00699B; margin:0 0 3px 0; }
	.terms { border-top:3px solid #669EB9; border-bottom:3px solid #669EB9; background:#F2F7FA; padding:0px 18px; }

.two-col .tabs { width:auto; }

/* Color box used for legend on reports stats page */
#little-color-box {
	float:left;
	width:15px;
	height:10px;
	background-color:#CCCCCC; /* This should be overridden in the HTML */
	margin: 4px 8px 4px 0;
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Reporters */
.reporters h3{
	font-weight:bold;
	color:#990000;
	font-size:14px;
	padding:0;
	margin:0;
}
h4 span.highlight{
	background-color:#ffffcc;
	font-size: 15px;
	font-weight:bold;
	color:#000;
}
#reporter_location{
	clear:both;
	padding:10px;
	margin:10px;
	border:1px solid #ccc;
}
	#reporter_location h3{
		color:#666;
	}
		#reporter_location h3 span{
			font-weight:normal;
			font-size:11px;
		}
	#reporter_location #ReporterMap{
		height:250px;
		width:600px;
		border:1px solid #666;
	}
	/* Trusted Reporter */
	ul.info li strong.reporters_4{
		background-color:#005366;
		color:#fff;
		padding:2px;
	}
	.tab ul li a.reporters_tab_4{
		background-color:#005366;
		color:#fff;
	}
	/* Trusted + Verify Reporter */
	ul.info li strong.reporters_5{
		background-color:#339900;
		color:#fff;
		padding:2px;
	}
	.tab ul li a.reporters_tab_5{
		background-color:#339900;
		color:#fff;
	}
	
.attachment_thumbs{
	float:left;
	margin:0 10px 10px 0;
	border:1px solid #ccc;
}
	.attachment_thumbs img{
		border-width:0;
	}
	
.preview_div{
	margin:5px 0 0 0;
	border:1px dotted #ccc;
	padding:10px;
	display:none;
}	
	
/* Upgrade Process */
#upgrade_log .upgrade_log_message{
	font-size:14px;
	font-weight:bold;
	border:2px solid #ccc;
	background-color:#eee;
	padding:8px;
	margin-bottom:5px;
}
	#upgrade_log .log_success{
		background-color:#d8f1d8;
		border-color: #a7d1a7;
	}
	#upgrade_log .log_error{
		background-color:#FFD8D9;
		border-color: #990000;
	}
	.ftp-settings{
		display:none;
		width:600px;
		margin-top:10px;
		padding:10px;
		background-color:#ffffcc;
	}
	
/* Plugins/Addons/Themes */
tr.addon_active td{
	background-color:#ffffcc;
}

/* floaties */
.right {
	float:right;
}
.left {
	float:left;
}

/* Map Toggles */
ul.map-toggles { overflow:auto; clear:both; margin:3px 0 0 0; padding:0; }
ul.map-toggles li { display:none; float:right; list-style-type: none; }

ul.map-toggles li a, 
ul.map-toggles li a:active { display:inline-block; padding:3px 5px 3px 17px; outline:none; }

	a.wider-map		{ background:transparent url(../../img/admin/icon_sprite.png) -4px -202px no-repeat;  }
	a.taller-map	{ background:transparent url(../../img/admin/icon_sprite.png) -4px -221px no-repeat;  }
	a.shorter-map	{ background:transparent url(../../img/admin/icon_sprite.png) -4px -241px no-repeat;  }
	a.smaller-map	{ background:transparent url(../../img/admin/icon_sprite.png) -4px -182px no-repeat;  }
	
/* Map Labeler */	
#geometryLabelerHolder{
	position:absolute;
	bottom:0;
	display:none;
	width:100%;
	background-color:darkblue;
	opacity:0.8;
	z-index:5000;
}
	#geometryLabeler{
		padding:10px;
	}
		#geometryLabeler label{
			font-weight:bold;
			color:#fff;
			margin-right:5px;
		}
		#geometryLabeler .lbl_text{
			width:80px;
			margin-right:15px;
		}
		#geometryLabeler .lbl_text2{
			width:180px;
		}
		#geometryLabeler #geometryLabelComment{
			padding-bottom:7px;
			margin-bottom:7px;
			border-bottom:1px dotted #fff;
		}
		#geometryLat, #geometryLon{
			display:none;
		}
		#geometryLabelerClose{
			z-index:5001;
			position:absolute;
			top:2px;
			right:0;
			width:18px;
			height:18px;
			background: url("../../img/openlayers/layer-switcher-minimize.png") no-repeat;
			cursor: pointer;
		}
		
		
/* Members */
.member_profile{
	clear:both;
}
	.member_photo{
		float:left;
		margin:0 15px 0 15px;
	}
	.member_photo img{
		border:2px solid #f5f5f5;
		padding:3px;
	}
	.member_info{
		float:left;
		width:295px;
		font-size:110%;
	}
	.member_info_row{
		margin-bottom:3px;
		padding:3px;
		border-bottom:1px dotted #ccc;
	}
		.member_info_row:hover{
			background-color:#ffffcc;
		}
		.member_info_label{
			font-weight:bold;
		}
		.member_info_row ul {
			margin:0;
			padding:0;
			margin-left: 10px;
			padding-left: 15px;
		}
			.member_info_row ul li{
				margin:2px 0 2px 0;
			}
			
		.member_reputation{
			font-size:120%;
			font-weight:bold;
			color:#888;
			background-color:#eee;
			padding:3px;
		}
.checkin_map{
	margin-top:10px;
	width:460px;
	height:300px;
	border: 2px solid #ccc;
}

/*
Button Styles
*/
a.button 
/* button,
input[type="submit"],
input[type="reset"],
input[type="button"] */ {
	background: #eee; /* Old browsers */
	
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 2px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  
a.button:hover
/* button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover */ {
	color: #222;
	background: #eee; /* Old browsers */
	
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }
  
.badge {
	float:left;
	width:100px;
	text-align:center;
	background-color:#E9E9E9;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px;
	margin:0px 5px;
}

/* jquery datePicker CSS */


table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
.transparent-25 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";

  /* IE 5-7 */
  filter: alpha(opacity=25);

  /* Netscape */
  -moz-opacity: 0.25;

  /* Safari 1.x */
  -khtml-opacity: 0.25;

  /* Good browsers */
  opacity: 0.25;
}
.transparent-50 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.transparent-75 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";

  /* IE 5-7 */
  filter: alpha(opacity=75);

  /* Netscape */
  -moz-opacity: 0.75;

  /* Safari 1.x */
  -khtml-opacity: 0.75;

  /* Good browsers */
  opacity: 0.75;
}

#article-edit {
	padding: 5px;
	position:relative;
}

#article-edit #cke_post_content {
	width:82%;
	float:left;
	margin: 10px 0;
}

#article-edit .article-text-fields {
	float:left;
	margin: 5px;
}

#article-edit .article-text-fields input[type="text"]{
	width:300px;
}

#article-edit input[type="submit"], #article-edit .article-image {
	width:100px;
	height:40px;
	float:left;
	clear:both;
}

#article-edit input#save-close-article{
	clear: none;
    margin: 0 10px;
    width: 150px;
}


#article-edit .article-meta-description, #article-edit .article-meta-keywords {
    position: absolute;
	right: 5px;
	width:15%;
	overflow: hidden;
}

#article-edit .article-meta-keywords {
	top:45px;	
}

#article-edit .article-meta-description {
	top: 150px;
}

#article-edit .article-image {
	width:400px;
}

#article-edit .article-meta-description textarea, #article-edit .article-meta-keywords textarea {
	width:95%;
	height:75px;
}
/* Bootstrap typeahead */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}

/*.open {
  *z-index: 1000;
}

.open .dropdown-menu {
  display: block;
}*/

.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
          position: absolute !important;
}