/* CSS Mobile Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu, input {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
font: inherit;
font-size: 100%;
}
a{text-decoration: none;}
table{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
s{text-decoration:none;}
ol,ul{list-style:none;}
input[type="submit"],input[type="image"],button{-webkit-appearance:none;}
/*********************/

body {
	background: #e8e8e8;
	font:12px/14px "Trebuchet MS",sans-serif;
	font-size: .875em;
	line-height: 1.25em;
	text-align: center
}

h1, h2, h3, p {
	margin: 2px 0 5px 0;
	padding: 0;
}
a{
    color: #3764aa;
    text-decoration: none;
}
a:hover{
    color: #008cff;

}
div#top{display: none;}

#container {
	margin: 0 auto;
	height: 100%;
	border-width: 0 1px 1px 1px;
	border-color:#DDD;
	border-style: solid;
	text-align: left;
	background: #fff;
}

form{
	margin:0;
	padding:0;
}

/******HEADER *********/
#header{
	/*background-color:#00A3D3;*/
	background: #50A7E6;
	line-height: 15px;
	padding: 0;
	width: 100%;
	color:#3754AA;
}
#header a{
	text-decoration: none;
}
#header span.logo:hover, #header a:hover{
	color:#fff;
	text-shadow:none;
}
div#location_status{padding:5px;display:block}

#header span.logo{
	display:none;
	font-size: 1.2em;
    margin: 10px;
    padding: 0;
    text-shadow: 0 1px 1px #FFFFFF;
}
#header img.logo{
	display:block;
	margin: 5px;  
}
/***************************************/
@media all and (max-width: 240px), all and (max-device-width: 240px) {
	#header span.logo {
		display:block
	}
	#header img.logo { 
		display:none;width:0px
	}
}
/****************************************/

#header .left {
	width: 30%;
}
#header .left {
	width: 70%;
}
	/********SEARCH FIELDS************/
div.search-fields{padding:0.5em;}
.search-fields table {
    width: 100%;
}
.search-fields .title {
padding-bottom: 0.75em;
color:#999999;
}
.search-fields .value {
    width: auto;
}

.search-fields .value div {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 6px 0.25em;
}

.search-fields .button {
    text-align: right;
    width: 43px;
}
.search-fields input[type='text']{width: 100%;}
.search-fields .button input.search{
    background: url("../images/magnifying_glass.gif");
    width: 35px;
    height: 30px;
}

.search-fields input, .search-fields td, .search-fields div {
vertical-align: middle;
}
/*******MAIN MENU**************/
#navigation {
width: 100%;
background: #666666;
/*border: 1px solid #222222;*/


}
#navigation td {
background-image:#50A7E6;
background: -webkit-gradient(linear, left top, left bottom, from(#50A7E6), to(#3754AA));
background: -o-linear-gradient(left top, left bottom, from(#50A7E6), to(#3754AA));
background: -moz-linear-gradient(center top , #50A7E6, #3754AA);
border-right: 1px solid #eee;
border-top: 1px solid #eee;
border-left: 1px solid #ddd;
border-bottom: 1px solid #eee;
height: 44px;
white-space: nowrap;
vertical-align: middle;
width: 33%;
text-align: center;

}
#navigation a {
color: #fff;
text-decoration: none;
font-weight: bold;
vertical-align: middle;
display:block;
height: 44px;
line-height: 44px;
}

#navigation a.active{
	background: #ccc;
}
span.search_groupby{padding:2px;font-weight:bold;}

ul#navigation li{
	list-style-type:none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	display:inline-block;
	padding:5px 5px 5px 5px;
}

/*******CHECKINS STYLING***********/
#cilist .checkin{
	border-bottom:1px solid #e8e8e8;	
}
#cilist .checkin h3{
	background: none;
	font-weight: bold;
}
p#load-checkins{
	text-align: center;
	background-color: #EEEEEE;
	border: 1px solid #AAAAAA;
	color: #333333;
	display: block;
	height: 2em;
	line-height: 2em;
	margin: 0.3em 0.4em;
}
p#load-checkins strong.title{
	color: #222222;
	font-weight: bold;
	text-decoration: none;
}

.button-more {
	border-bottom: 1px solid #EEEEEE;
	padding: 0.75em 0.3em;
	text-align: center;
}
.block .submit strong.checkin{
	font-weight: bold;
	
}
/******SUBMIT CHECKIN**********/
.block-submit {
			
			padding: 5px;
}

.block-submit span.submit{
			padding:6px;
			font-size:16px;
			color:#ffffff;
			display: block;
			background: #222222 url(../images/submit-incident.jpg) 6px 7px no-repeat;
}

strong.checkin-submit, strong.report-submit{font-weight: bold;}
strong.checkin-submit a, strong.report-submit a{padding-left: 30px;display: block;}
/********COMMENT BOX CSS*********/
div.offer-comment-box {
margin-bottom: 15px;
padding: 5px 0 0 10px;
}
span.comment-rating-box {
	float:right;
}

div.comment-title {
	font-style:italic;
}
div.comment-title strong{
	font-weight: bold;
}

div.comment-separator {
	border-top: 1px dotted #C0C2B8;
	height:8px;
}
/******SIGN IN / UP PAGE***************/
.report_submit{
	padding:5px;
	border-bottom:1px solid #ddd}
.report_submit h2{
	font-weight: bold;
	padding: 0.2em;}
.report_submit .report_btn{display:block;margin-top:1em}
.report_submit .report_btn input{
	width: 100%;
	font-weight: bold;
	cursor: pointer;
	padding: 0.5em 0;
}
.report_submit .report_row select{
	border: 1px solid #ddd;
	padding: 0.3em 0;
	background:#ffffff;
	}
.report_submit .report_row input, .report_row .longer, .report_row .text-input{
	border: 1px solid #ddd;
	width: 100%;
	padding: 0.5em 0;
	background:#ffffff;
}

.report_submit .report_row input[type="checkbox"]{
	width:auto;
}
.report_submit .report_btn a{
	width: 100%;
	display: block;
	font-weight: bold;
	cursor: pointer;
	padding: 0.5em 0;
}

.block span#featured a{
			padding:8px 5px;
			color: #fff;
			background:#50A7E6;
			background: -webkit-gradient(linear, left top, left bottom, from(#50A7E6), to(#3754AA));
			background: -moz-linear-gradient(top, #50A7E6, #3754AA);
			border: 1px solid #ddd;
			border-bottom:1px solid #ccc;
			box-shadow: inset 0 1px 0 #50A7E6, 0 1px 3px 0 rgba(18, 22, 26, .4);
}
.block span#category a{
			padding:8px 5px;
			color: #fff;
			background:#50A7E6;
			background: -webkit-gradient(linear, left top, left bottom, from(#50A7E6), to(#3754AA));
			background: -moz-linear-gradient(top, #50A7E6, #3754AA);
			border: 1px solid #ddd;
			border-top:1px solid #eee;
			box-shadow: inset 0 1px 0 #50A7E6, 0 1px 3px 0 rgba(18, 22, 26, .4);
}

.block span#featured a.open:link, .block span#featured a.open:visited,
.block span#category a.open:link, .block span#category a.open:visited{
			color: #FF0;
		}

.block-featured{
		/*margin-bottom:1px;*/
}
	
span#featured a{
	border-bottom: none;
	/*border: 1px solid #eee;*/
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
span#category a{
	border-top: none;
	font-weight: bold;
	/*border: 1px solid #eee;*/
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
span.expand{
	padding: 0px 4px;
	display: block;
}

.cimsg small{color: #50A7E6;}
/****FEATURED OFFERS N OFFERS***********/
.block-offers{}
.block-offers span.other{
	background: #eee;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 8px;
	margin-bottom: 10px;
}
.block-offers .list ul li i{float: right;padding-right: 4px;}
.block-offers .list ul li a, .block-offers .list ul li span{padding-left: 8px;}

div#cilist span.title {
    display: block;
    width: auto;
    font-weight: bold;
    padding: 4px !important;
}

div#cilist div.cimsg {
    padding: 0 4px 4px 4px;
}

/************************************************************************/
ul#navigation li a:hover, ul#navigation li a:active{
	color:#fff;
}

ul#nav_bottom{
	margin-bottom:5px;
	width:100%;
	position:absolute;
	background-color:#dddddd;
	bottom:26px;
}
ul#nav_bottom li{
	list-style-type:none;
    display:inline-block;
    padding:5px 5px 5px 5px;
}
/*Offers section*/
h2.block_title{
		margin-top:15px;
		padding:8px 5px;
		font-size:16px;
	}
form#sel_offer{margin:0px 20px;}

div#offer_block{margin:4px;}
.offer_item {margin:5px 5px 10px 5px;}
.offer_item h2, .offer_item h2 a{color:#00A3D3;}
.offer_item p{color:#666666;}
ul#search_navigation{list-style-type: none;}
ul#search_navigation li{display: inline;padding: 4px;}
ul#search_navigation li.active{background: #eeeeee;}
#search_results .search_result{border-bottom: 1px solid #ccc;padding: 4px;}
#search_results .search_info{background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;}
/**Featured**/
.featured_item {margin:5px 5px 10px 5px;}

.featured_item h2, .featured_item h2 a{color:#00A3D3;}
.featured_item p{color:#666666;}
/* Page */
div#page{
	margin:2px 0 0 0;
}
	div#page .block{
		margin-bottom:10px;
	}
	div#page .block-contact{
		margin:10px;
	}
	
	div#page .block .submit,
		div#page .block .other {
			padding:8px 5px;
			color:#ffffff;
			font-size:16px;
			background-color:#fdfdfd;
		}
			div#page .block .other span,
			div#page .block .expand span{
				font-size:14px;
				padding-left:10px;
				color:#999;
			}
		div#page .block .submit {
			background: #222222 url(../images/submit-incident.jpg) 6px 7px no-repeat;
			padding-left:30px;
		}
		div#page .block .submit a{
			color:#fff;
			display:block;
		}
		/***ARROW IMAGE***/
		div#page .block .expand a:link{
			border-bottom-width:1px;
			/**background-image:url(../images/arrow-down.gif);**/
			background-repeat:no-repeat;
			background-position:98% 50%;
		}
		
		div#page .block .expand a:hover, div#page .block .expand a:active, div#page .block .expand a:focus, div#page .block .expand a:visited {
			color: #FF0;
		}
		div#page .block .collapse{
			padding:3px 3px 3px 12px;
		}
		
		div#page .block ul{
			/*padding-left:15px;*/
			width:100%;
			display: block;
			margin:0;
		}
			div#page .block ul li{
				list-style-type: none;
				margin:8px 0 12px 0;
				padding-bottom:10px;
				border-bottom:1px solid #ccc;
			}
		
		.swatch {
		    float:left;
		    height:12px;
		    margin-right: 8px;
		    width:12px;
		    border:1px solid white;
		}
	
	div#page .main_title{
		padding:8px 5px;
		font-size:16px;
		margin-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	
/* Report List Page */
.report_list{
	
}
	div#page .block ul{
		/**padding-left:15px;**/
		margin:0;
	}
		div#page .block ul li{
			list-style-type: none;
			margin:8px 0 12px 0;
			padding-bottom:10px;
			border-bottom:1px solid #ccc;
		}
	.report_list .location_name{
		color:#666;
		font-style:italic;
		font-size:90%;
	}

/* Report and Offer View Page */
.report_info, .offer_info, .checkin_info{
	margin-top:10px;
}
	.report_info h2, .offer_info h2, .checkin_info h2{
		font-size:16px;
		margin-left:10px;
		color:#00A3D3;
	}
	.report_info .verified{
		float:right;
		background-color:#ccc;
	}
	.report_info .verified{
	    background: #A60003;
	    padding:5px;
	    float: right;
	    color: #FFF;
	    text-transform: uppercase;
	    font-size: 10px;
	    font-weight: bold;
	    text-align: center;
	    margin: 0 0 0 10px;
	}
	.report_info .verified_yes{
		background: #368c00;
	}
	.report_info .verified span{
	    color: #FFF;
	    text-transform: uppercase;
	    font-size: 14px;
	    font-weight: bold;
	}
	.list ul.details strong, .comment-list ul.details strong{font-weight: bold;}
	comment-list
	.report_info ul.details, .offer_info ul.details, .checkin_info ul.details, .list ul.details,
	.comment-list ul.details{
	    list-style: none;
		margin:0;
		padding:0;
	}

	.report_info ul.details li, .offer_info ul.details li, .checkin_info ul.details li, .list ul.details li,
	.comment-list ul.details li{
	    list-style: none;
	    border-bottom: #EEEEEE 1px solid;
	    padding: 5px 5px;
	    color: #666666;
	    font-size: 11px;
	}
	.comment-list ul.details li.title{border: none;}
	.report_info ul.details li small, .offer_info ul.details li small, .list ul.details li small {
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 11px;
	    margin: 0 0 5px 0;
	}
	.report_info ul.details li a, .offer_info ul.details li a, .checkin_info ul.details li a, .list ul.details li a{
	    background: #E2E2E2;
	    padding: 1px 4px 2px 4px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    color: #004276;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 10px;
	    text-decoration: underline;
	}
	
.report_submit, .checkin_submit{
	
}
	.report_form, .checkin_form{

	}
		.report_form .report_row, .checkin_form .checkin_row{
			margin:0 0 15px 0;
			clear:both;
		}
			.report_form .report_row h4, .checkin_form .checkin_row h4{
				margin:0 0 5px 0;
				padding:0;
				font-size:110%;
				font-weight:bold;
			}
			.report_form .report_row .text, .checkin_form .checkin_row .text {
				
			}
			.report_form .report_row .long, .checkin_form .checkin_row .long{
				width:97%;
			}
			.report_form .report_row .date-time, .checkin_form .checkin_row .date-time{
				float:left;
				margin-right:10px;
			}
			.report_form .report_row .report_category{
				clear:both;
				overflow:hidden;
				font-size:90%;
			}
			.report_form .report_row .report_category ul{
				margin: 0;
				padding: 0;
				border: none;
			}
			.report_form .report_row .report_category ul li{
				overflow:hidden;
				list-style: none;
			}
				/*Categories Tree*/
				.report_form .report_row .report_category ul ul { width: auto; float: none; }
				.report_form .report_row .report_category ul li.sub_category { padding-left: 47px; }
				.report_form .report_row .report_category ul li.sub_category_last { background-position: 16px -1766px; }
				.report_form .report_row .report_category ul li input.check-box { margin: 0 3px 0 0; }
				.report_form .report_row .report_category ul li.hover,
				.report_form .report_row .report_category ul li li:hover { background-color: #efefef; }
				ul.treeview li.lastCollapsable,
				ul.treeview li.lastExpandable { width:155px; }
				
			.report_form .report_row .location, .checkin_form .checkin_row .location{
				display:block;
				margin:5px 0;
				font-weight:bold;
			}
	
#map_canvas{
	width:100%;
	height:300px;
	border:1px solid #ccc;
	margin:15px 0 0 0;
}		
		
/* Footer */
#footer{
	bottom:0;
	width:100%;
	color:#ffffff;
	height:30px;   /* Height of the footer */
	/**background-color:#00A3D3;**/
	text-align: center;
	background:#50A7E6;
	border-top:1px solid #ccc;
	line-height:30px;
	font-size:90%;
}
#footer-ad{
background:none;
width:100%;
border:none;	
	
	
}

div#footer a{color:#ffffff;}

.highlight{
	background-color:#FFFFCC;
	font-weight:bold;
}

div.red-box {
	margin:10px 0 25px 0;
	padding:9px 0 8px;
	background:#FFD8D9;
	border:2px solid #990000;
	clear:both;
	overflow:hidden;
}
div.red-box h3{
	margin:0;
	padding:0 0 0 15px; 
	font-size:14px;
	color:#555;
}
div.red-box ul{
	margin-left:15px;
	padding-left:15px;
}

/* Pagination */
.pagination
{
    padding: 3px;
    margin: 3px;
}
.pagination a
{
    padding: 2px 3px 2px 3px;
    margin: 1px;
    border: 1px solid #AAAADD;
    text-decoration: none; /* no underline */
    color: #000099;
}
.pagination a:hover, .pagination a:active
{
    border: 1px solid #000099;
    color: #000;
}
.pagination span.current
{
    padding: 2px 3px 2px 3px;
    margin: 1px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #993300;
    color: #FFF;
}
.pagination span.disabled
{
    padding: 2px 3px 2px 3px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}
ul.pager {list-style-type:none;padding:5px;}
ul.pager li{display:inline-block;}
ul.pager li.first{border:1px solid #009;padding:2px 3px 2px 3px;}
ul.pager li a.active
{
    padding: 2px 3px 2px 3px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #993300;
    color: #FFF;
	}
div.list ul.item{
	list-style-type:none;
	display:block;
	padding:0px 0px 0px 4px;
}
div.list ul li{
	list-style-type:none;
	display:block;
	border-bottom:1px solid #ccc;
	margin:2px 0 4px 0;
	padding-bottom:5px;
   	     	}

