/* CSS Mobile Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,
h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
/* CSS Mobile Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu, input {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
font: inherit;
font-size: 100%;
}
a{text-decoration: none;}
table{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
s{text-decoration:none;}
ol,ul{list-style:none;}
input[type="submit"],input[type="image"],button{-webkit-appearance:none;}
/*********************/

body {
	background: #e8e8e8;
	font:12px/14px "Trebuchet MS",sans-serif;
	font-size: .875em;
	line-height: 1.25em;
	text-align: center
}

h1, h2, h3, p {
	margin: 2px 0 5px 0;
	padding: 0;
}
a{
    color: #3764aa;
    text-decoration: none;
}
a:hover{
    color: #008cff;

}
div#top{display: none;}
#container {
	margin: 0 auto;
	height: 100%;
	border-width: 0 1px 1px 1px;
	border-color:#DDD;
	border-style: solid;
	text-align: left;
	background: #fff;
}

form{
	margin:0;
	padding:0;
}

/******HEADER *********/
#header{
	background-color:#00A3D3;
	/*background: #50A7E6;*/
	line-height: 15px;
	padding: 0;
	width: 100%;
	color:#3754AA;
}
#header a{
	text-decoration: none;
}
#header span.logo{
	display:none;
	font-size: 1.2em;
    margin: 10px 0 0;
    padding: 0;
    text-shadow: 0 1px 1px #FFFFFF;
}
/*****MEDIA QUERIES FOR THE LOGOS********************/
@media all and (max-width: 240px), all and (max-device-width: 240px) {
	#header span.logo {
		display:block
	}
	#header img.logo { 
		display:none;width:0px
	}
}
/****************************************/
	/********SEARCH FIELDS************/
div.search-fields{padding:0.5em;}
.search-fields table {
    width: 100%;
}
.search-fields .title {
padding-bottom: .75em;
color:#999;
}
.search-fields .value {
    width: auto;
}

.search-fields .value div {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 6px 0.25em;
}

.search-fields .button {
    text-align: right;
    width: 43px;
}
.search-fields input[type='text']{width: 100%;}
.search-fields .button input.search{
    background: url("../images/magnifying_glass.gif");
    width: 35px;
    height: 30px;
}

.search-fields input, .search-fields td, .search-fields div {
vertical-align: middle;
}
/*******MAIN MENU**************/
#navigation {
width: 100%;
background: #666666;
border: 1px solid #222222;


}
#navigation td {
background:#50A7E6;
background: -webkit-gradient(linear, left top, left bottom, from(#50A7E6), to(#3754AA));
background: -moz-linear-gradient(center top , #50A7E6, #3754AA);
border-right: 1px solid #eee;
border-top: 1px solid #eee;
border-left: 1px solid #ddd;
border-bottom: 1px solid #eee;
height: 44px;
white-space: nowrap;
vertical-align: middle;
width: 33%;
text-align: center;

}

#navigation a {
color: #fff;
text-decoration: none;
font-weight: bold;
vertical-align: middle;
display: inline-block;
height: 44px;
line-height: 44px;
}
span.search_groupby{padding:2px;font-weight:bold;}


.long { width: 97%;}
/* Page */
/* Page */
div#page{
	margin:2px 0 0 0;
}
	div#page .block{
		margin-bottom:10px;
	}
	div#page .block .expand a{
			padding:8px 5px;
			color:#ffffff;
			font-size:16px;
			background-color:#00A3D3;
	}
		div#page .block .submit,
		div#page .block .other {
			padding:8px 5px;
			color:#ffffff;
			font-size:16px;
			background-color:#fdfdfd;
		}
			
		div#page .block .submit {
			
		}
		div#page .block .submit a{
			color:#fff;
			display:block;
		}
		div#page .block ul{
			padding-left:15px;
			width:100%;
			display: block;
			margin:0;
		}
			div#page .block ul li{
				list-style-type: none;
				margin:8px 0 12px 0;
				padding-bottom:10px;
			}
		
	div#page .main_title{
		padding:8px 5px;
		font-size:16px;
		margin-bottom:10px;
		border-bottom:1px solid #ccc;
	}
div.login_error {
	border:1px solid #999;
	background:#eee;
	padding:4px;
	color:#900;
}
/**SEARCH RESULTS**/
#search_results .search_result{border-bottom: 1px solid #222;}
/* Footer */
div#footer{
	bottom:0;
	width:100%;
	color:#ffffff;
	text-align: center;
	height:30px;   /* Height of the footer */
	border-top:1px solid #ccc;
	background-color:#00A3D3;
	line-height:30px;
	font-size:90%;
}

div#footer a{color:#ffffff;}

.highlight{
	background-color:#FFFFCC;
	font-weight:bold;
}

/******SIGN IN / UP PAGE***************/
.signup-page{
	padding:5px;
	border-bottom:1px solid #ddd}
.signup-page h2{
	font-weight: bold;
	padding: 0.2em;}
.signup-page .login-button, .signup-page .logout-button{display:block;margin-top:1em}
.signup-page .login-button input{
	width: 100%;
	font-weight: bold;
	cursor: pointer;
	padding: 0.5em 0;
}
.signup-page .logout-button a{
	width: 100%;
	display: block;
	font-weight: bold;
	cursor: pointer;
	padding: 0.5em 0;
}

.signup-page a{font-weight:bold}
ul.pager {list-style-type:none;padding:5px;}
.signup-page .text-input{padding:6px 0.25em;border:1px solid #ccc;background-color:#fff;margin:0;width:100%}
.signup-page .text-input input{border:0px none;margin:0;padding:0;border:0;display:block;width:100%;height:1.188em}
.signup-page .text-input input:focus{outline:none}
.signup-page label{margin-top:0.75em}
.signup-page .body{margin-top:1em}
.signup-page .body .remember{margin-top:1em}
.signup-page .input-wrapper{margin-top:0.25em;overflow:hidden;border-right:1px solid #ccc}
.signup-page .hint{color:#999}
.signup-page .invalid-field label{font-weight:bold}
.signup-page .invalid-field label,.signup-page .invalid-field .hint{color:#b03a32}
.signup-page .invalid-field .input-wrapper,.signup-page .invalid-field .text-input{border-color:#b03a32}
.signup-page .invalid-field .text-input{background-color:#ede0df}